<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
     {% load static %}
     <link rel="stylesheet" href="{% static 'dashboard/team_vs.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/home.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/messages.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/msg_main.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/tasks.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/team.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/management/management.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/management/tasks.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/management/schedules.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/management/history.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/chat.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/inbox.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/charts.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/schedules.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/account.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/history.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/resources.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/reports.css' %}">
     <link rel="stylesheet" href="{% static 'dashboard/base/base.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.9/dist/inputmask.min.js"></script>

     <script src="{% static 'js/getSubtask.js' %}"></script>
     
     {% block extra_css %}
     {% endblock %}

</head>

<body>

<div class="nav_container"> 
<nav class="nav_top">
  
  <a href="{% url 'dashboard:home' %}">Home</a>
  <a href="{% url 'dashboard:messages' %}">Messages</a>
  {% if new > 0 %}<div class="new_msg_count_div">{{new}}</div>{% endif %}
  <a href="{% url 'dashboard:tasks_list' %}">Tasks</a>
  <a href="{% url 'dashboard:projects' %}">Projects</a>
   
  <a href="{% url 'dashboard:team' %}">Team</a>

  <a href="{% url 'dashboard:chat_view' %}">Chat</a>
  <button onclick="setVisible(this,'shade_logout')">Logout</button> 
  {% if is_home %}
  <a href="{% url 'dashboard:user_account' user.id %}" class="userprofile_nav">User profile</a>
  {% endif %}


</nav>
</div>
{% load static %}



<div id="shade_logout">
  
<div id="report_modal">

    <div class="logout_x_btn" 
    onclick="document.getElementById('shade_logout').style.display='none'">
    X
    </div>

    <form method="post" action='{% url "dashboard:logout" %}'>
      {% csrf_token %}
       <div class="logout_title">
        Logout ?

       </div> 
        <div class="logout_modal_btn_cont">
          <a href="{% url 'dashboard:report' %}" class="report_btn">
          <button type="button">Do your report</button>
          </a>

          <button type="submit" class="logout_modal_btn"> Logout </button>
       </div>

    </form>
</div>

</div>



{% if user.userprofile.active_task and options.active_task %}

<a href="{% url 'dashboard:task_detail' user.userprofile.active_task.id %}" class="go_to_active">
  Active task
</a> 

{% endif %}
 {% block content %}{% endblock %}


<!--------------------------------NOTIF MODAL---------------------------------------->

<div class="notif_div" id=notif>


       
    
</div>

{% if options.help %}
<a href="{% url 'dashboard:ressources' %}">
 <img src= "{% static 'question_mark.png' %}" id="question_mark">
 </a>
{% endif %}
<script>

const login = '{{options.login}}'
const late  = '{{options.late}}'

const socket = new WebSocket('ws://127.0.0.1:8000/ws/test/');

socket.onopen = () => {
  console.log('WebSocket connection established');
};

socket.onmessage = (event) => {
  const notif = document.getElementById('notif')
  const data = JSON.parse(event.data);
  console.log('Received:', data.message);  
  if (data.message !== 'WebSocket connected'){

    if (data.type == 'message'){


      notif.innerHTML += 
    `
    <div id="notifBubble${data.message.id}" class="notifBubble">
         
      <button class="x_btn_notif" onclick="document.getElementById(
        'notifBubble${data.message.id}').style.display='none'" type="button">X 
      </button> 

      <a href="report_detail/${data.message.id}/">
      <div class="notif_header">
          <img src="{% static 'msg_icon.png' %}" style="width:20%">
          <div class="right_header_notif">
              <div style="margin-left: 1.5vw;">
                New message
              </div>
              <div class="from_text_notif">
                From ${data.message.sender}
              </div>
          </div>
   
      </div>
         
      <div class="notif_content">
          ${data.message.content}
      </div>
      
      
    </div>
    </a>`

    }
    else if (data.type === 'late_notice' && late === 'True'){
       notif.innerHTML += 
      ` <div id="notifBubble${data.message.id}" class="notifBubble">
         
      <button class="x_btn_notif" onclick="document.getElementById(
        'notifBubble${data.message.id}').style.display='none'" type="button">X 
      </button> 
      <div class="notif_header_late">
          <img src="{% static 'exclamation.png' %}" style="width:15%; padding-right: 3vw;">
         Late notice
      </div>
         
      <div class="notif_content_late">
          ${data.message.content}
      </div>
      
      
    </div>`
    }
     else if (data.type === 'star'){
       notif.innerHTML += 
      `  <div id="notifBubble${data.message.starid}" class="notifBubble">
         
      <button class="x_btn_notif" onclick="document.getElementById(
        'notifBubble${data.message.starid}').style.display='none'" type="button">X 
      </button> 
      <a href="/dashboard/account/${data.message.id}">

   
      <div class="notif_header_late">
        <img src="{% static 'star_icon3.png' %}" style="width:12%; padding-right: 4.1vw;">
         New star
      </div>
         
      <div class="notif_content_late">
          You have been awarded a star , go check it out !
      </div>
      
      
    </div>
       </a>`
    }
    else if (data.type === 'milestone') {
       notif.innerHTML += 
          ` <div id="notifBubble${data.message.id}" class="notifBubble">
         
      <button class="x_btn_notif" onclick="document.getElementById(
        'notifBubble${data.message.id}').style.display='none'" type="button">X 
      </button> 
      <a href="/dashboard/account/1">

   
      <div class="notif_header_late">
        <img src="{% static 'trophee.png' %}" style="width:12%; padding-right: 2.7vw;">
         New milestone
      </div>
         
      <div class="notif_content_mile">
          <div style="padding-bottom: 2.5%; padding-top: 2.5%; text-align: center;">
            ${data.message.name}
          </div>
           ${data.message.type} (${data.message.value})
      </div>
      
      
    </div>
       </a>`
    }
    else if (data.type === 'task_submit'){
       notif.innerHTML += 
          ` <div id="notifBubble${data.message.id}" class="notifBubble">
         
      <button class="x_btn_notif" onclick="document.getElementById(
        'notifBubble${data.message.id}').style.display='none'" type="button">X 
      </button> 
      <a href="/dashboard/tasks/completed/${data.message.task_id}/">

   
      <div class="notif_header_task">
        <img src="{% static 'task_icon.png' %}" style="width:12%; padding-right: 2.3vw;">
         Task completed
      </div>
         
      <div class="notif_content_mile">
          <div style="padding-bottom: 2.5%; padding-top: 2.5%; text-align: center;">
           
          </div>
           ${data.message.name}
      </div>
      
      
    </div>
       </a>`
    }
    else if (data.type === 'login' && login === 'True'){
      let task_name = null
      if (data.message.task_name){
         task_name = data.message.task.name
      }
      else {
        task_name = ''
      }

     notif.innerHTML += 
        `  <div id="notifBubble${data.message.id}" class="notifBubble">
         
      <button class="x_btn_notif" onclick="document.getElementById(
        'notifBubble${data.message.id}').style.display='none'" type="button">X 
      </button> 
          <div class="top_login">
          <img src="{% static 'team_icon14.png' %}" style="width: 9%; padding-right: 3.5vw; ">
            Just logged in 
          </div>
      <div class="notif_header_login">
          <a href="/dashboard/team/user/${data.message.user_id}/stats">${data.message.username}</a>
        
      </div>
      <div class="notif_content_login">
        <img src="{% static 'task_icon.png' %}" style="width: 9%;">
        <a href="/dashboard/tasks/update/${data.message.active_task}/">${task_name}</a>
      
      </div>
    </div>`
    }
    else if (data.type === 'report'){

     notif.innerHTML += 
        `  <div id="notifBubble${data.message.id}" class="notifBubble">
         
      <button class="x_btn_notif" onclick="document.getElementById(
        'notifBubble${data.message.id}').style.display='none'" type="button">X 
      </button> 
          <div class="top_report">
           <img src="{% static 'exclamation.png' %}" style="width:15%; padding-right: 2.1vw;">
            Missing report
          </div>
      <div class="notif_header_report">

          It seems like <a href="/dashboard/team/user/${data.message.user_id}/stats">${data.message.username}</a>
          did not make any report this week .
      </div>
     
    </div>`
    }
    else if (data.type === 'task_approval'){
      notif.innerHTML +=
      `      <div id="notifBubble${data.message.id}" class="notifBubble">
         
      <button class="x_btn_notif" onclick="document.getElementById(
        'notifBubble${data.message.id}').style.display='none'" type="button">X 
      </button> 
      <a href="/dashboard/tasks/">

   
      <div class="notif_header_approve">
      
            
            <img src="{% static 'task_icon.png' %}" style="height:70%; ">
           
           <div class="head_text_approve">
              <div style="padding-right: 2vw;"> 
                  Task approval
                  </div>
            
                  <div class="task_approve">
                  Task with a long name that tests bound

                  </div>
          </div>
      </div>
         
      <div class="notif_content_approve">
          <div style="padding-bottom: 2%;">
           
         
          A task was submitted and is pending team approval.
           </div>
      </div>
      
      
    </div>
       </a>   
`
    }

};

socket.onclose = () => {
  console.log('WebSocket connection closed');
};

socket.onerror = (error) => {
  console.error('WebSocket error:', error);
};
}
</script>
</body>