
{% extends 'dashboard/base.html' %}




 {% load user_data %}
 {% block content %}



 <h1 class="billboard_head">Billboard</h1>
 <div class = "visual_frame">
      
          <div class="team_vs_billboard">
                    {% if late == 1 %}
                    <div class="late_task_notice">You have {{late}} late task ! </div>
                    {% elif late > 1 %}
                    <div class="late_task_notice">You have {{late}} late tasks ! </div>

                    {% endif %}

                <div class="billboard_ticket" >
                  
                    <a href="{% url 'dashboard:team_vs' %}" >
                        Team vs teams
                       </a>
                  </div>
              
             
               <div class="billboard_ticket"> 
                  <a href="{% url 'dashboard:history_view' %}" class="milestone_text">
                    Milestones
                  </a>
              </div>
        </div>
 </div>


 <div class="general_text_container2">

      <p class="general_text_billboard">{{user.userprofile.team.pinned_msg}}
         
     </p>
 </div>


  {% endblock %}