 {% include 'dashboard/base.html' %}


{% block extra_css %}
<style>
    html{
        background-color: rgb(128, 107, 88) !important;
    }
</style>
{% endblock %}
{% block content %}
 
<div class="chat_frame"> 
<div class="chat_bg"> </div>
   <div class="chat_container">
    <div class="chat" id="chat"> </div>
   </div>

<div class="chat_form_div">
    <div>
   <form class="chat_form_msg" method="post" id="chat_form">
    {% csrf_token %}
    {{form.message}}
    </div>


    <button class="send_button_chat "type="submit">Send</button>
   


   </form>

  
{% endblock %}


<script>


async function update_messages() {


    
    try { 
    const response = await fetch(`/dashboard/chat/update/`)
    const data = await response.json()
    console.log(data);
    
    last = data[0]['id']

    const chatContainer = document.getElementById('chat');
    chatContainer.innerHTML = ''; // clear previous messages
    
    for (var x = 0; x < data.length; x++ ){
 
            const row = data[x]
               chatContainer.innerHTML += '<div class="chat_bubble_container">' + 
                    
                    '<div class="chat_user">' + `<img src="/dashboard/pic_picture/${row.pic_id}" id="chat_tbmnail">` +
                        row.user + 
                    '</div>' + 
                    '<div class="chat_bubbles">' + 
                        row.text + ' ' +
                    '</div>'+ 
                    '<div class="time_cont">' + 
                        '<div class="bubble_timeleft">' + 
                        '</div>' + 
                        '<div class="chat_bubble_time">'+ 
                        '('+row.time+')'+ 
                        '</div>' + 
                    '</div>' +
                 '</div>';
        }
       setTimeout(update_messages, 10000);
    }


    catch(error){
        console.log(error);
    }

    
}

document.addEventListener("DOMContentLoaded", function () {
    update_messages();
   const form = document.querySelector('#chat_form');
   const button = document.querySelector('.send_button_chat');
  if (button) {
    button.disabled = true;
    setTimeout(() => {
      button.disabled = false;
    }, 2000);
    form.addEventListener('submit', function () {
    button.disabled = true;
  });
  }
});


</script>