 {% include 'dashboard/base.html' %}

 {% block content %}
 
 <div class="reports_container">
 <h class="title">Reports</h>
 <div class="reports_div">
<form method="post" class="text_field">
<!--<a href="#" class="add_recipient" onclick="window.open('{% url 'dashboard:add' %}', 'popup', 'width=400,height=300'); return false;">Launch</a>-->
  <a class="add_recipient" href="{% url 'dashboard:add' %}">Add a recipient</a>
  {% csrf_token %}
   <p class="forms">{{form.as_p}}</p>
  <input type="submit" name="send" value="send">
  </form>
 </div>

 <div class="reports_menu">
  <p> Reports History </p>
   {% for report in data %}
   <div class="history">
    <a class ="link_block" href="{% url 'dashboard:reportview' report.id %}" target="_blank">{{report.title}}</a>
  </div>
   {% endfor %}
 </div>
 </div>
 {% endblock %}