 {% include 'dashboard/base.html' %}

 {% block content %}
 <a href="javascript:history.back()"><button class="del-btn" type="button">Back</button></a>


<div class="manage_completed_tasks">  
    

 <div class="task_block_container_manage">
 <div class="task_title2"><p>Completed</p></div>

{% for task in tasks %}
{% if task.completed %}
<a href="{% url 'dashboard:task_detail' task.id %}">
 <div class="task_blocks2">
      <p class="task_title">{{task.name}} </p>
     <p class="task_due_date">Due date: {{task.due_date}}  </p>
 </div>
</a>

{% endif %}
{% endfor %}


 </div>
</div>
 {% endblock %}

