 {% include 'dashboard/base.html' %}
 {% block content %}
<div class="task_detail_flex">   
 {% for tasks in task %}
 <div class="data_container">
 <div class ="title_task_view">{{tasks.name}}</div>
  <div class="flex_container_task_view">Due date:    {{tasks.due_date}} </div>
  <div class="title_data">Team</div>
 
    {% for user in tasks.users.all %}
<div class="task_completed">{{user.user.username}}</div>
    {% endfor %}
 
  
 </div>

 {% endfor %}
 <div class="general_medium_container">
 {% for tasks in task %}
  <p class="general_text"> {{ tasks.description}} </p>
  
 </div>


 <div class="send_msg_back">
   <a href="{% url 'dashboard:tasks_list' %}"><button class="del_btn2" type="button">Back</button></a>

 </div>
 </div>


 <div class="task_detail_right_panel">
  <a href="{% url 'dashboard:task_submit' tasks.id %}">
     <button type="button" class="task_detail_completed_btn">Mark as completed</button>
     </a>
 {% endfor %}
 </div>
{% endblock %}