 {% include 'dashboard/base.html' %}

 {% block content %}
 <h1 class="team_title">{{user.userprofile.team.name}} management</h1>
 <div class="team_second_title">Employee / tasks</div>
<div class="border_container"></div>
 <div class="team_container1">
<div class="team_tasks">



{% for member in team %}
<div class="team_member_rows">
<div class="team_name_container">{{member.user.username}} ({{member.role.name}})</div>
{% for task in member.task_users.all %}
<div class="tasks_units_blocks">
<a class="link_management" href="{% url 'dashboard:task_manage_update' task.id %}">{{task.name}}</a></div>

{% endfor %}
</div>
{% endfor %}




</div> 


<div class="team_management"> 



<div class="btn-div">  
 <a href="{% url 'dashboard:task_manage_create' %}"> 
    <button class="button_tasks_list" type="button">New task</button>
 </a>
</div>

<div class="btn-div3">
<a href="{% url 'dashboard:team_completed' %}"> 
<button class="button_tasks_list">Review tasks</button>
</a>   
</div>


<div class="btn-div2">
<a href="{% url 'dashboard:team_update' user.userprofile.team.id %}">
<button type="button" class="button_tasks_list">Pin a message for the team</button>
</a>
</div>



</div>
</div>










 {% endblock %}
