{% extends 'dashboard/base.html' %}
  {% load static %}
{% block content %}
<div class="account_outer_div">

    <div class="account_left_panel">
        
        <div class="account_block">
            <div class="picture_ctn">
                {% if not picture %}
              
               <img src="{% url 'dashboard:pic_picture' 1 %}" style="height: 100%;">
                {% else %}
              <img src="{% url 'dashboard:pic_picture' picture.id %}"
             style="height: 100%;">
                {% endif %}
            </div>
            <div class="change_picture">
                <button onclick="document.getElementById(
                    'prof_pic_modal').style.display='flex';" class="btn_cng_pic">
                    Update photo
                </button>
            </div>
        </div>
        <div class="update_profile">
            <a href="{% url 'dashboard:account_update' user.id %}" > 
               <button class="update_profile_btn">Update profile</button> 
           </a>
        </div>
        <a href="{% url 'dashboard:password_update' user.id %}"> 
        <div class="change_password">
             <button class="update_profile_btn">Change password</button>
        </div>
        </a>
    </div>

    <div class="account_right_content">
   
        <div class="account_block_centered">
             
             {{user.username}}

        </div>

        <div class="account_block_centered">
             
              {{user.userprofile.role.name}}
        </div>

        <div class="account_block_centered">
            
          {{user.userprofile.team.name}}
        </div>

        <div class="account_block_centered">
            <div class="block_centered_title">
                Time joined
            </div>
            {{user.date_joined}}
           
        </div>

        <div class="account_block_centered">
            <div class="block_centered_title">
              Tasks count
            </div>
             {{stats.total_completed}}

        </div>
         <div class="account_block_centered">
             <div class="block_centered_title">
              Days scheduled
            </div>
            {{stats.days_scheduled}}
        </div>
         <div class="account_block_centered">
            <div class="block_centered_title">
              Urgent tasks succeeded
            </div>
            {{stats.total_urgent}}
        </div>
         <div class="account_block_centered">
             <div class="block_centered_title">
              Mean completion time
            </div>
            {{task_mean_time}}h
        </div>
         <div class="account_block_centered">
             <div class="block_centered_title">
              Days missed
            </div>
            {{stats.days_missed}}
        </div>
         <div class="account_block_centered_stars">
             <div class="block_centered_title">
              Stars
            </div>
              <div class="star_outer"> 
           {% for star in stats.stars %}
      
         <img src="{% static 'star_icon3.png' %}" 
         onclick="document.getElementById('star_text').innerHTML='{{star.star_note}}'; showText();" 
         style="width: 20%;" id="star{{star.id}}"
           data-hover="{% static 'star_icon_dark.png' %}"
            data-original="{% static 'star_icon3.png' %}">
      
         {% endfor %}
            </div>
        </div>
         <div class="account_block_centered">
       
        </div>
         <div class="account_block_centered">
              <div class="block_centered_title">
              Last login
            </div>
             {{user.last_login}}
        </div>
    </div>
</div>

<div class="add_prof_pic_modal" id="prof_pic_modal">
    <form method="post" enctype="multipart/form-data">
     {% csrf_token %}
      {{form.file}}
      <div class="btn_sub_profile_ctn"> 
      <button type="submit" name="photo" class="submit_pic_update">Submit</button>
      </div>
        <button class="x_btn_profile_pic"
        onclick="document.getElementById('prof_pic_modal').style.display = 'none'">
          X
        </button>

    </form>

</div>


 <div class="send_msg_back">
    <button onclick="window.history.back()" class="del_btn2" type="button">Back</button>
  
</div>



<div id="star_comment_modal">
  <div class="x_btn_stars" 
  onclick="document.getElementById('star_comment_modal').style.display ='none'">
    X
  </div>

  Your achievement
 <p id="star_text"> </p>
</div>
<script>
 
 


const images = document.querySelectorAll('[id^="star"]');

images.forEach(img => {
  img.addEventListener("mouseover", () => {
    img.src = img.dataset.hover;
  });

  img.addEventListener("mouseout", () => {
    img.src = img.dataset.original;
  });
});
</script>

{% endblock %}