{% extends 'dashboard/django_registration/base.html' %}
  {% block extra_css %}
  <style>
    body, html {
        background-color: rgb(58, 58, 58) !important;
        color: white;
        height: 100%;
        overflow: hidden;
    }
    form {
        color: white;
      margin-top: 8%;
      transform: scale(0.85);

    }
  </style>
     {% endblock %}


{% load crispy_forms_tags user_data %}
{% block title %}Registering a new employee{% endblock %}
{% block content %}
{% row "justify-content-center" %}
    {% col "col-md-5" %}
       
        {% crispy form %}
    {% endcol %}
{% endrow %}




{% endblock %}