
/*************TEAMS********************/




.border_container{
        border: solid black 2px;
    height: 84vh;
    display: flex;
    position: fixed;
    bottom: 0%;
    left:49.8%;
    transform: translateX(-50%);
    width: 90.1vw;
    background-color: rgb(150, 107, 87);
    border: 2px black solid;
 
}

.team_container1{

   
    height: 79vh;
    display: flex;
    position: fixed;
    bottom: 0%;
    left:50%;
    transform: translateX(-50%);
    width: 90vw;
    border-top: 2px solid rgb(60, 60, 60);   
}
.team_tasks{
  width: 75%;
 /* border: blueviolet 2px solid;*/
 
  overflow-y: scroll;  
  overflow-x: scroll;
 
 
     background-color: rgb(239, 241, 241);
   
}
#team_all_task_list{
    width: 75%;
    display: none;
     overflow-y: scroll;  
  overflow-x: scroll;
     background-color: rgb(239, 241, 241);
}
.team_management{
   
   width:25%;
 /* border: rgb(55, 226, 43) 2px solid;*/
  height: 100%;
  background-color: rgb(150, 163, 171);
  border: 2px rgb(36, 36, 36) solid;
  border-top: 0px;
  
 
}
.team_member_rows{
  
   
    height: 17%;
    display: flex; 
    gap: 2px;
    margin-top: 2px;
    
    
    
}
.team_name_container{
    border: solid rgb(88, 88, 88) 2.5px;
    width: 23%;
    flex-shrink: 0;
    position: sticky;
  left: 0;
  z-index: 100; 

  background-color: #b3c7e0;
 
  padding-left: 2px;
}

.tasks_units_blocks{
   border: 2px rgb(100, 100, 100) solid;
   width: 20%;
   flex-shrink: 0;
   background-color: white;
   padding-left: 2px;
 
}
.tasks_units_blocks_completed:hover{
 background-color: rgb(199, 234, 199);
}
.tasks_units_blocks_completed{

      border: 2px rgb(45, 45, 45) solid;
   width: 20%;
   flex-shrink: 0;
   background-color: rgb(215, 243, 215);
   padding-left: 2px;
}
.tasks_units_blocks_denied:hover{

    background-color: rgb(226, 195, 147);
}
.tasks_units_blocks_denied{

       border: 2px rgb(45, 45, 45) solid;
   width: 20%;
   flex-shrink: 0;
    background-color: rgb(241, 206, 153);

   padding-left: 2px;
}
.tasks_units_blocks:hover{
    background-color: rgb(237, 237, 237);
}
.team_title{
    position: fixed;
    left:5%;
    top: 0%;
    color: #403232;
    
 
    
}

#toggle_manage{
    background-color:#f0f0f0;
    border: 1px solid rgb(74, 74, 74);
    border-radius: 3px;
}
#toggle_manage.active{
    background-color: #e1e1e1
}
.manage_all_task_list_container{
    padding:2%;
    border: 2px solid black;
    display: flex;
}
.manage_all_task_list_container_title{
     
    border: 1px solid black;
    display: flex;
    height: 6vh;
    position: sticky;
    top: 0;
    color: white;
    
    background-color: #7e7e7e;
}
.team_second_title{
    z-index: 100;
    position: fixed;
    top: 16%;
    left: 5%;
    margin-top: 0.1%;
    font-size: medium;
}
.manage_all_task_list_name{
    width: 50%;
    margin-right: 2%;
    
}
.manage_all_task_list_date{
    width: 50%;
}
.manage_all_task_list_name_title{
    width: 50%;
    display: flex;
    justify-content: center;
    
      align-items: center;
   
     
}
.manage_all_task_list_date_title{
    width: 50%;
     display: flex;
    justify-content: center;
    align-items: center;
        border-left: 2px solid black;
}
.manage_all_task_list_date_late{
        width: 50%;
        background-color: rgb(235, 156, 156);
}
.link_management{
  /*  border: blue 2px solid;*/
    display: block;
    height: 100%;
}

.button_tasks_list {

    height: 7vh;
    width: 18vw;
    border: grey solid 2px;
     left: 50%;
   
 
}
.button_tasks_list:hover{
    background-color: rgb(175, 235, 219);
}

.btn-div{

   /* border: solid 2px rgb(145, 145, 145);*/
     display: flex;
  justify-content: center;  
  align-items: center;   
  margin-top: 12%;
}
.btn-div2{
      display: flex;
  justify-content: center;   
  align-items: center;   
 margin-top: 5%;
  padding: 5%;


}
.btn-div3{
      display: flex;
  justify-content: center;   
  align-items: center;   
  margin-top: 5%;
  padding: 5%;


}
.btn-div4{
         display: flex;
  justify-content: center;   
  color: aquamarine;



}
.btn-div-5{
          display: flex;
  justify-content: center;   
  align-items: center;   
  margin-top: 6%;
  padding: 5%;

}
.btn_div_6{
              display: flex;
  justify-content: center;   
  align-items: center;   
  margin-top: 5%;
  padding: 5%;
}


/*********Management completed tasks********/
.extreme_outer_div_task_manage_detail{
   display:flex;
    border: 2px solid rgb(62, 62, 62);
    position: absolute;
    height: 88vh;
    width: 82vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);


}
.task_detail_left_panel_manage{

     border: 2px rgb(62, 62, 62) solid;
     margin-right: 2px;
    background-color: rgb(174, 196, 215);
    padding: 2px;
    width:20%;   
    border-left: 0px;
}
.tasklist_blocks_title_manage{
       height: 6%;
      display: flex;
      align-items: center;
   position: sticky;
    z-index: 100;
    top: 0;
       background-color: rgb(255, 255, 255);
         border: 1px rgb(155, 152, 152) solid;
}
.task_blocks2{
       height: 11%;
      display: flex;
      align-items: center;

       background-color: rgb(242, 242, 242);
         border: 1px rgb(155, 152, 152) solid;
}
.task_list_manage_task_name_title{
   border: 2px solid rgb(62, 62, 62);
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(188, 188, 188);
    

}

.task_list_manage_task_duedate_title{
        border: 2px solid rgb(62, 62, 62);
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
     background-color: rgb(188, 188, 188);
   
 
}
.task_list_manage_task_name{
     border: 2px solid rgb(62, 62, 62);
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.task_list_manage_task_duedate{
      border: 2px solid rgb(62, 62, 62);
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1px;
    background-color: rgb(201, 233, 242);
}
.task_list_manage_task_duedate_late{
        border: 2px solid rgb(62, 62, 62);
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1px;
    background-color: rgb(223, 184, 132);
}
.task_list_due_date_text{
    position: relative;
    left: 14%;
}
.task_list_review_title_text{
   
    position: relative;
    color: rgb(22, 22, 22);
}
.task_title2{
      position: sticky;
  top: 0;
  z-index: 100; 
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
   padding-bottom: 1%;
  border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
   
 
 

  
}
.task_list_manage_separator{
    height: 4vh;
     background-color: #f4f4f4;
}


.task_block_container_manage{
    overflow-x: auto;
    width: 40vw;
    
   
}
.tasks_completed_list{
   
    width: 65vw;
    height: 88vh;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50% ,-53%);
   
    overflow-x: hidden;

  

}
.task_list_blocks_div{
    height: 83%;
 overflow-y: scroll;
 overflow-x: hidden;
 background-color: rgb(236, 236, 236);

}
.task_list_manage_task_name_text{
    margin-left: 1%;
}
#thumbnail2{ 
    max-width: 100%;
    position: fixed;
    bottom: 2%;
   
}
.top_visual_frame_task_list_management{
        width: 100vw;
    background-color: rgb(148, 113, 91);
    height: 6.05vh;
    top: 0%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: -1;
}
.bot_visual_frame_task_list_management{
    width: 100vw;
    background-color: rgb(148, 113, 91);
    height: 4vh;
    bottom: 0%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: -1;
}
.task_detail_left_panel{
   


}
.task_detail_right_panel{
     border: 2px solid rgb(62, 62, 62);
    width: 23%;
    border-right: 0px;
    background-color: rgb(174, 196, 215);

 
}

.task_detail_completed_btn{
 width: 75%;
 height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}
.files_outer_div_update_manage{
   
    background-color: rgb(100, 100, 100);
    height: 50%;
    
    left: 50%;
   
    transform: translateX(-50%);
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    


}
.task_completed_deny_container{
     margin-top: 10%;
  /*  border: 2px purple solid;*/
    height: 10%;
    
}
.task_completed_deny_container2 textarea{
  border: 2px solid grey;
  width: 95%;
  margin-top: 14%;
}
.task_completed_deny_container2{
  text-align: center;
  
  margin-top: 10%;
}
.btn_deny{
   background-color: #5b5b5b;
   width: 75%;
    padding: 6%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;

}
.left_bar_team_members_container{
 
    height: 45%;
    width: 99%;
    overflow: auto;
    margin-top: 1%;
 
}
.task_description_text_modal_manage{
    border: 1px solid black;
    position: relative;
    height: 90%;
    overflow-y: scroll;
      overflow-y: scroll;
    text-justify: auto;
    white-space: pre-wrap;
    text-align:justify left;
    padding-left: 1%;
    padding-top: 2%;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(234, 234, 234);
}
.task_description_title_modal_manage{
    font-size: x-large;
    text-align: center;
    color: rgb(41, 41, 41);
}
.task_modal_manage_btn{
    width: 10%;
    height:10%;
 
   
}
.second_text_container_management{
    border: 2px solid rgb(110, 110, 110);
    height: 100%;

 
     width: 100%;
    overflow-y: scroll;
    text-justify: auto;
    white-space: pre-wrap;
    text-align:justify top;
  
    background-color: rgb(245, 245, 245);
    font-family: 'Times New Roman', Times, serif;

}
.text_frames_container_management{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-right: 0.7%;
 




 
   /* border: greenyellow 2px solid;*/
}
.title_completion_note{
    height: 5%;
    border: 2px rgb(62, 62, 62) solid;
    background-color: rgb(192, 152, 116);
    text-align: center;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    
} 
.task_detail_completed_link{

    border: 2px rgb(85, 85, 85) solid;
    margin: 1%;
    padding-top: 10px;
    top: 15%;
    width: 98%;
    height: 10%;
 
    background-color: rgb(192, 231, 204);
     padding: 2%;
     border-radius: 4px;

    

}

.general_text_management2{
     top: -6%;
    position: relative;
   /* border: 2px solid green;*/
    padding-left: 1%;
    overflow-wrap: break-word;    
    overflow: hidden;   

}
/*************Task Form*****************/
.task_create_middle_container select{
    height: 10vh

}
.task_create_middle_container{

    width: 100%;
  /*  border: 2px solid green;*/
    display: flex;
    margin-top: 0.5%;
}
.description_task_form_chart{
    width: 100%;
}
.description_task_form{
    width: 77%;
    margin-top: 1%;
 /*   border: 2px black solid;*/
 
}
.user_labeltag_task_update{
    margin-left:3.9% ;
}
.description_task_form textarea{
    background-color: rgb(255, 255, 255);
}
.form_frame{
    background-color: aqua;
    width: 80vw;
}
.form_margin{
    margin-top: 1%;
    
}
.due_date_chart_create{
   display: flex;
   gap: 5.4%;
   margin-left: 0.5%;
}

.task_create_chart_text_select{
    margin-top: 1.5%;
}
.task_create_title input{
   width: 26vw;
   margin-left: 3vw;
   margin-bottom: 1vh;
}
#task_update_manage_form{
    display: block;
}
.subtask_detail_description_block_manage{

    border: 1px solid rgb(172, 172, 172);
    height: 59vh;
    margin-top: 2%;
    padding-top: 1%;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
    position: relative;
    padding-left: 1%;
    background-color: #3b3b3b;
    text-align: left;
    white-space: pre-wrap;

}
.subtask_user_manage{
    margin-top: 2%;
    font-size: small;
    padding-right: 1%;

}
.form_container_manage{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(174, 196, 215);
    padding-left: 3%;
    padding-right: 2%;
    padding-top:4%;
    padding-bottom: 1%;
    border: 2px solid black;
    width: 60vw;
}
#form_container_update_subtask_detail_manage{
    display: none;
      position: relative;
    
    width: 60vw;
    background-color: rgb(89, 89, 89);
    padding-left: 3%;
    margin-right: 2px;
    padding-right: 2%;
 
    padding-bottom: 1%;
    border: 5px solid rgb(171, 171, 171);
    
   
    
}
.subtask_detail_management_frame{
    border: 2px solid green;
}
.form_container{
    position: relative;
    
    width: 60vw;
    background-color: rgb(174, 196, 215);
    padding-left: 3%;
    padding-right: 2%;
    padding-top:4%;
    padding-bottom: 1%;
    border: 2px solid black;
   
    
}
.urgent_input{
    transform: scale(1.5);
}
.title_div_create_task{
    display: flex;
   
   /* border: 2px solid black;*/
}
.title_div_create_task{
/*border: 2px solid black;*/
    width: 84.9%;
    
}
.task_form_chart_select select{
height: 51.2vh;
}
.task_form_chart_select{
    width: 40%;
     
     
     

}
.form_container_create_task_chart{
  height: 92vh;
    width: 64vw;
       position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   
  
    background-color: rgb(174, 196, 215);
    padding-left: 3%;
    padding-right: 1%;
    padding-top:1%;
    padding-bottom: 2%;
    border: 2px solid black;

}
.task_form_select{
    height: 55vh;
    width: 25%;
    margin-top: 1%;
  
}
.task_create_middle_container textarea{
    height: 98%;
}
.task_form_select select{
    width: 100%;
    height: 100%;
  
}
.task_create_title_tag{
    display: flex;
}
.flex_form_container_update{
    display: flex;
   /* border: 2px red solid;*/
    gap: 2%;
    width: 100%;
    padding: 0.5%;
    
}
.flex_form_container{
    display: flex;
   /* border: 2px red solid;*/
    gap: 7%;
    width: 100%;
    padding: 0.5%;
    margin-top: 1vh;
    
}
#delete_btn_task{
    width: 10vw;
    padding: 10%;
    background-color: #3b3b3b;
    color: white;
    border-radius: 5px;
   border: 2px solid rgb(162, 162, 162);
}
#cancel_btn_task{
    width: 10vw;
    padding:7%;
      border: 2px solid rgb(162, 162, 162);
      border-radius: 5px;
    color: white;
    background-color: #3b3b3b;
}
#cancel_btn_task:hover{
 background-color: rgb(88, 123, 230);
}

.btn-submit-task-manage:hover{
  background-color: rgb(191, 78, 78) !important;
}
.bot_flex_form_container{
    margin-top: 3%;
    display: flex;
    gap: 6%;
  
   width:101%;
   height: 20%;
}
.bot_flex_form_container input{
    width: 100%;
}
.task_form_btn_container{

  display: flex;

 
  width: 30%;



}
.file_input_task_manage{
    width: 70%;
}
.btn-submit-task-manage{
  padding: 5%;
  width: 45%;
    
}
.btn-update-task-manage{
  padding: 1%;

    
    background-color: rgb(243, 243, 237);
    color: black;   
    position: relative;
   
}
.btn_submit_manage_create_task{
    padding: 4%;
    
    width: 17vw;
}
.del-btn{
    margin-top: 5%;
    height: 45%;

}

/*****************SCHEDULES*****************/


.extreme_outer_div_schedule_management{
  border: 3px solid rgb(12, 12, 12);
    left: 50%;
    bottom: 1vh;
    position: absolute;
    transform: translateX(-50%);
    width: 88vw;
    height: 94vh;


}
.schedule_outer_frame_management{
  
    height: 80%;
    width: 100%;
    display: flex;
    bottom: 0%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: aliceblue;
}

.title_container_schedule_management{
    display: flex;
    height: 20%;
    
     width: 88vw;
     left: 50%;
      position: absolute;
    transform: translateX(-50%);
  border: 2px solid black;
    background-color: rgb(72, 72, 72);
    
}
.schedule_users_title_manage{
     width: 100%;
    height: 6%;
    display: flex;

    align-items: center;
    justify-content:center;
    background-color: rgb(249, 219, 167);
    border-bottom: 2px solid black;
    
    
}
.schedule_users_title{
    width: 100%;
    height: 5%;
    display: flex;

    align-items: center;
    justify-content:center;
    background-color: rgb(249, 219, 167);
    border: 2px solid black;
}
.schedule_user_div{
    border: 2px solid rgb(44, 44, 44);
  
    border-left: 0px;
    width: 100%;
    height: 20%;
    color: white;
    align-items: center;
    background-color: rgb(65, 65, 84);
    display: inline-block;   
  max-width: 100%;         
  word-wrap: break-word; 
  overflow-wrap: break-word;

}
.schedule_add_text{
    margin-left: 1%;
    margin-top: 1%;

}
.schedule_user_text{
    margin-left: 2%;
  
    padding-left: 2%;

}
.schedule_availability_title{
     width:20%;  
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-left: 1.5px solid rgb(102, 102, 102);
    background-color: rgb(192, 239, 223);
}
.schedule_top_row_management{
    display: flex;
    height: 6%;
        align-items: center;
    justify-content:center;
 width: 100%;
border: 2px solid rgb(41, 41, 41);
}
.schedule_week_title_top_management{
    width: 20%;
    background-color: rgb(210, 250, 250);
     
    display: flex;
    align-items: center;
    justify-content: center;
}
.schedules_user_rows{
   border: 2px solid rgb(43, 43, 43);
   width: 100%;
   height:20%;
   display: flex;
   background-color: aliceblue;
 
   
}

.schedule_right_area_management{
   width: 90%;
    height: 100%;
  /*  border: 2px solid blue;*/
  
    

}
.schedule_add_schedule_cont{
    border: 2px solid black;
    height: 100%;
    width: 20%;
     border-top: 0px;
    border-bottom: 0px;
    background-color: aliceblue;;
}
.schedule_container_management{
    border: 2px solid rgb(69, 69, 68);
    height: 100%;
    width: 20%;
     border-top: 0px;
    border-bottom: 0px;
    color: #000000;
    font-family:'Courier'; /**Consolas**/
     display: flex;
     font-size: 12.5px;
     flex-direction: column;
     justify-content: center;
     background-color: aliceblue;
     
}
.schedule_container_management_ammend{
    border: 2px solid rgb(69, 69, 68);
    height: 100%;
    width: 20%;
     border-top: 0px;
    border-bottom: 0px;
    font-size: 12.5px;

  
    color: #000000;
    font-family:'Courier';
     display: flex;
    background-color: rgb(249, 219, 167);
     flex-direction: column;
     justify-content: center;

}
.schedule_user_availability{
    border: 2px solid rgb(66, 66, 66);
     border-top: 0px;
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    width:20%;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    
    

}
.add_a_schedule_cell{
    width: 20%;
    border: solid black 2px;
    border-top: 0px;
    border-bottom: 0px;
    
}

.schedule_day_right{

    width: 50%;
}
.schedule_day_left{
 
    width: 50%;
}
.day_separator{
    display: flex;
    width: 100%;
    
    
}
.schedule_title_management{

/*border: 2px solid orange;*/
color: rgb(235, 235, 235);
font-size:xx-large;
padding-left: 0.75%;
display: flex;

    padding-left: 2.5%;
    align-items: center;
    justify-content: center;
}
.date_range_title_top{
    font-size: x-large;
    color: white;
    bottom: 30%;
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
 
}
.justified_day{
    margin-left: 4px;
    
   
}

/***************SCHEDULE FORM *******************/
.schedule_update_message{
 
    position: absolute;
   
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.schedule_update_message textarea{
  border: 2px solid black;
    height: 100%;
    pointer-events: none;
}
.schedule_update_outer_div{


  border: 3px solid black;
  height: 80vh;
  width: 36vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-47%);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddd0b5;

}

.monday input{
    left: 8%;
    position: relative;
    
}
.tuesday input{
    left: 7.8%;
    position: relative;
    margin-top: 3%;
}
.wednesday input{
    margin-top: 3%;
}
.thursday input{
    left: 5%;
    position: relative;
    margin-top: 3%;
}
.friday input{
    left: 12.5%;
    position: relative;
    margin-top: 3%;
}
.saturday input{
    left: 6.5%;
    position: relative;
    margin-top: 3%;
}
.sunday input{
    left: 10%;
    position: relative;
    margin-top: 3%;
}
.unscheduled{
    margin-top: 3%;
}
.schedule_update_button{
    margin-top: 6%;
    width: 40%;
    height: 15%;
}

.update_team_submit{
    background-color: rgb(86, 86, 86);
    width: 23%;
    padding: 1%;
    border-radius: 4px;
    color: white;
    margin-top: 3%;
    position: absolute;
}

.pinned_message_team_update{
    left: 1.3%;
    position: relative;

}
.form_update_team textarea{
    position: relative;
    height: 98%;
    width: 99%;
    padding-left: 1.5%;
    padding-top: 2%;
}
.form_update_team label{
    position: relative;
    margin-left: 1%;
}
.form_update_team{
     position: relative;
       width: 100%;
       height: 75%;
    /*border: 2px solid green;*/
}
.update_task_manage_extreme_outer{
  /*  border: 2px solid red;*/
    height: 96vh;
    display: flex;
    justify-content: end;
}

.task_update_manage_right_subtask_div{
   /* border: 2px solid blue;*/
    width: 17vw;
    display: flex;
    flex-direction: column;
    border-left: 0px;
    border: 2px solid black;
    border-left: 0px;
}

.btn_div_task_manage_rightpanel{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 0px;
}
.add_files_btn_subtask_manage{
    width: 100%;
    border: 0px;
    padding: 2%;
    border-top:2px solid black;
  
}
.task_update_right_pane_title{

    display: flex;
    align-items: center;
    justify-content: center;
   
    height: 6%;
    font-size: 16px;
    background-color: #c0bfbf;
}

.task_update_subtask_cont{
    
    height: 50%;
     overflow-y: scroll;
    background-color: #5a5a5a;

}
.visual_frame_update_pin_msg{
 border: 2.5px solid black;
    height: 85vh;
    width: 55vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -48%);
       background-color: rgb(174, 196, 215);
       padding-top: 1%;
       padding-left:5%;
       padding-bottom: 1%;
       padding-right: 5%;

}

.images_title{
    margin-top: 4%;
    color: white;
    text-align: center;
    background-color: #5b5b5b;
    padding: 1%;
}
.image_container_task_review_detail{
 
    height: 20%;
   padding-top: 5%;
   padding-left: 1%;

}


/**************************STATS*******************************/
.perf_detail_extreme_frame{
         width: 60vw;
    height: 80vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-46%);
    position: absolute;
    display: flex;
    background-color: #796558;
    border: 2px solid black;
}
.perf_detail_outer_div{
   

    width: 58vw;
    height: 75vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-46%);
    position: absolute;
    display: flex;
 
    
    border: 2px solid rgb(115, 88, 46);
}
.employee_div{
    width: 30%;
    background-color: #b3c7e0;
    border: 2px solid black;
}
.employee_name{
    height: 16%;
    border: 1px solid black;
   
     background-color: rgb(234, 234, 232);
     left: 50%;
     border-radius: 2px;
     position: relative;
     transform: translateX(-50%);
     display: flex;
      align-items: center;
     justify-content: center;
}
.member_since{
     border: 1px solid black;
       height: 15%;
     display: flex;
     align-items: center;
     justify-content: center;
       background-color: rgb(234, 234, 232);
}
.stats_div{
  
    height: 100%;
    width: 70%;
    display: flex;
}
.text_col_1{
    height: 100%;
    width: 30%;
      display: flex;
     flex-direction: column;
}
.number_col_1{
        height: 100%;
    width: 20%;
     display: flex;
     flex-direction: column;

}
.text_col2{
       height: 100%;
    width: 30%;
    display: flex;
     flex-direction: column;
}
.number_col2{
        height: 100%;
    width: 20%;
   display: flex;
     flex-direction: column;
}
.perf_detail_row{

 height: calc(100%/6);
 
 display: flex;
 align-items: center;
 justify-content: center;
 border: 2px solid black;
 background-color: rgb(239, 239, 239);

}
/*******************GRAPHS*******************/
.title_graphs{
  /*  border: 2px solid black;*/
    position: absolute;
    left: 3%;


    top: 4%;
    color: white;
    font-size: x-large;
}
.left_graph_panel{
    width: 15%;
  /*  border: 2px solid orange;*/
     background-color: #4a4a4a;
     display: flex;
     flex-direction: column;
 
}
.graph_container1{
    position: relative;
    width: 42.5%;
    height: 100%;
/* border: 2px solid red;*/
  

}
.graph_container2{
 position: relative;
    width: 42.5%;
    height: 100%;
  /*border: 2px solid rgb(72, 31, 31);*/

}
.graph2{
 
  

  transform: scale(0.7);
 transform-origin: center left;
  width: 140%;
  margin-top: 4%;
}
.graph1{
 


 transform: scale(0.7);
 transform-origin: center left;
  width: 140%;
  margin-top: 4%;
}
.extreme_outer_div_graph{
    border: 6px solid rgb(43, 43, 43);
    width: 97vw;
    height: 95vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
     background-color: #5b5b5b;
    display: flex;
}
.graph_btns_frame{
    position: relative;
    margin-top: 23.5%;
  /*  border: 2px solid red;*/
}
.graph_left_btn_div{
  width: 100%;
/*  border: 2px solid yellow;*/
  margin-bottom: 15%;
}
.graph_side_btn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
}
.graph_stats_left_frame{
    border: 2px solid rgb(57, 57, 57);
    height: 39%;
    width: 75%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #b5b4b4;
    font-size: smaller;
}
.graph_stats_title1{
    text-align: center;
     margin-bottom: 7%;
     margin-top: 3%;
}
.graph_stats_divs{
    margin-bottom: 7%;
    margin-left: 3%;
}

/****************RESSOURCES*******************/

.ressources_outer_div{
    border: 2px solid orange;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-41%);
    width: 80vw;
    height: 80vh;
    display: flex;
   
}
.res_top_bar{
    width: 25%;
    border: 2px solid black;
}
.res_main_content{
    width: 75%;
    border: 2px solid red;
    background-color: white;
    
}
.res_inner_title{
    height: 6%;
    border: 2px solid blue;
    display: flex;
}
.what_title{
    display: flex;
    width: 40%;
    border-right: 2px solid black;
    justify-content: center;

}
.how_title{
     display: flex;
    width: 60%;

    justify-content: center;
    
}
.res_inner_div{
    display: flex;
    border: 2px solid black;
   
  
}
.what_content{
    display: flex;
      width: 40%;
      border-right: 2px solid black;
    
}
.what_content_text{
    margin-left: 1%;
       padding-top: 2%;
       
} 
.how_content_text{
    margin-left: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
}
.how_content{
    display: flex;
    width: 60%;
}

@media (max-width:1024px){
    .date_range_title_top{
        font-size: larger;
    }
    .schedule_title_management{
        font-size: x-large;
    }

    .schedule_container_management{
        font-size: 11px;
        font-family: 'consolas';
        color: #6f6f6f;
        
    
}
.extreme_outer_div_schedule_management{
    width: 95vw;
}
.title_container_schedule_management{
    width: 95vw;
}
}