 {% include 'dashboard/base.html' %}
 {% load user_data %}
  {% block extra_css %}
<style>
       
    body, html{
        background-color: rgb(226, 199, 175) !important;
    }
</style>
{% endblock %}
 {% block content %}

 {% with user|get_schedules as schedules_ctx %}
 <div class="extreme_outer_div_schedule">
<div class="title_container_schedule">
<div class="schedule_title">Your schedule</div>
<div class="schedule_time_range">
{% if schedule %}
( {{schedule.week_range.starting_day.day}} {{schedule.week_range.start_month}} - 
{{schedule.week_range.end_day.day}} {{schedule.week_range.end_month }} )</div>
{% else %}
( {{schedule.week_range.starting_day.day}} {{schedules_ctx.start_month}} - 
{{schedule.week_range.end_day.day}} {{schedules_ctx.end_month}} )</div>
{% endif %}
       
       {% if schedule %}
       <div class="schedule_button_div"> 
              <a href="{% url 'dashboard:schedule_request' schedule.id %}">
              <button class="ammend_button">Request a change

              </button> 
              </a>
       </div>
       {% endif %}
</div>
<div class="schedule_outer_frame">


    <div class="schedule_left_panel">
          
           {% for schedule in schedules_ctx.schedules %}
           <div class="week_button_div">
                <a href="{% url 'dashboard:schedule_detail' schedule.id %}">
                <button class="week_button
                 {% if schedule.request_pending %} week_button_pending
            {% endif %}">{{schedule.week_range.starting_day.day}}-{{schedule.week_range.end_day.day}}</button>
                </a>
           </div>
           {% endfor %}
        

    </div>




    <div class="schedule_right_area">

         
           {% for week_days, hours in days_hours %}
           <div class="schedule_day_col">

                  
                  <div class="week_day_title"> 
                  {{week_days}}
                  </div>
                  <div class="hour_range_div {% if schedule.request_pending %} 
                  hour_range_div_pending {% endif %}">
                            <div class="hour_range">
                                  {{hours}}
                            </div>
                    

                  </div>
                


           </div>
              {% endfor %}
       


    </div>




</div>
 </div>
    {% endwith %}
 {% endblock %}