.account_outer_div{

    border: 2px solid black;
    width: 70vw;
    height: 90vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-46%);
    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.812);
    box-sizing: border-box; 
}
.account_left_panel{
    width: 23%;
    border: 2px solid orange;
}
.account_right_content{
    width: 77%;
    border: 2px solid red;
       grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
       display: grid;
        grid-auto-rows: 25%;
     
}
.block_centered_title{
    padding: 5%;
}
.account_block_centered{
   
    border: 2px solid rgb(70, 70, 70);
    outline: 0.5px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.btn_cng_pic{
    width: 100%;
    background-color: rgb(238, 235, 221);
}
.account_block{
  height: 47%;
    border: 2px solid rgb(69, 69, 69);
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
    
}
.picture_ctn{
    height: 90%;
    overflow: hidden;
}
.change_picture{
    height: 15%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.update_profile{
    height: 10%;
      display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.change_password{
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.upt_prof_btn{
    padding:1%;
    width: 100%;
    

}
.back_btn_crispy{
    height: 15%;
    background-color: brown;
}

.add_prof_pic_modal{
    border: 2px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: rgba(62, 62, 62, 0.945);
    border-radius: 4px;
    color: white;
    height: 15vh;
    display: none;
    align-items: center;
    padding: 2%;
}