nav{
    
    display: flex;
    position: absolute;
    left:50%;
    top:0%;
    transform: translateX(-50%);
    background-color: rgb(211, 211, 211);
    z-index: 1000;
}

nav a{
    padding:5px;
}

nav input{
    padding:5px;
    
}
/****************************Report Panel*********************************/
.reports_container{
    display: flex;
    padding-top: 8vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height:90vh;
    width: 82vw;
    border: rgb(65, 65, 65) 1px solid;
    padding-left: 1vw;
    background-color: rgb(188, 202, 212);
}

.reports_menu{
    border: 1.5px rgb(79, 79, 79) solid;
    width: 18%;
    text-align: center;
    background-color: rgb(155, 139, 117);
    overflow: auto;
    border-radius: 4px;
    
}
.reports_div{
    padding-top: 1em;
   /* border: 2px red solid;*/
    width: 82%;
    
   
}
/*
form label{
    max-width: 12em; 
    transform: scale(0.65); 
    transform-origin: left;
}
form input {
 max-width: 12em;
 transform: scale(0.65); 
 transform-origin: left;

}

form select{
max-width: 12em;
 transform: scale(0.65); 
 transform-origin: left;

 }
*/
form textarea{
    width: 95%;
    height:50vh;
    background-color: rgb(230, 231, 233);
  

}
.forms{
   
    height:100%;


 
   
}
.history{
   
    background-color: rgb(227, 230, 230);
    border-radius: 1px;
    border: 0.5px rgb(199, 199, 194) solid;
    text-align: left;
    background-color: rgb(232, 232, 232);
    font-size: medium;  
    
}
a{
    text-decoration: none;  
    color: black;
    font-family: 'Times New Roman', Times, serif;
    
}
a:visited{
    color: rgb(26, 26, 26);
}
.link_block{
    display: block;
    padding-top: 0.5em;
    border: 2px rgb(145, 129, 103) solid;
}
.title{
    position: fixed;
    top:0%;
    font-size: large;
    padding-left: 3vw;;
    padding-top: 1vh;
}
html{
    background-color: rgb(237, 228, 208);
}

.add_recipient{
    font-size:smaller;
    text-decoration: none;
    
}

form select{

   width: 15%;
   height: 60%;

  
}
.add{
    border: 2px solid red;
  
       
}

.general_text_container{
    border: 2px solid blue;
    width: 69vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 80vh;
    overflow: auto;
    text-justify: auto;
    white-space: pre-wrap;
    text-align:justify top;
    transform-origin: top;
    background-color: rgb(230, 231, 233);
    font-family: 'Times New Roman', Times, serif;

}
.general_text{
    top: 0%;
    position: fixed;
    
}

/***************************Home********************************/

.home_head{
    text-align: center;
  
}

.home_container{
    border: 2px teal solid;
    height: 95vh;
    font-size: smaller;
    width: 75vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
   
}
.welcome_home{
    border: 2px mediumspringgreen solid;
    padding-top: 3vh;
    height:15vh;
}


