 {% include 'dashboard/base.html' %}

 {% block content %}
<div class="visual_frame_forward">
  <div class="forward_title"> Forward a message</div>
  <form method="post" class="message_forward_form_textarea">
      {% csrf_token %}
 
    {{ form.recipient }}
  <input type="submit" name="send" value="Forward" class="button_forward"> 
 </form>

</div>
  <div class="send_msg_back">
   <a href="{% url 'dashboard:inbox' %}"><button class="del_btn2" type="button">Back</button></a>

 </div>
  {% endblock %}