 {% include 'dashboard/base.html' %}
 {% load user_data %}
 {% block content %}
 
 {% load static %}
 <div class="top_visual_frame_detail"></div>

 {% for document in documents %}
 

    <img src="{% url 'dashboard:pic_picture' document.id %}" 
    id="large{{document.id}}" onclick="hideOverlay('{{document.id}}');" 
    style="width: 95vw;
    display: none;
    border: 6px rgb(74, 74, 74) solid;
    position: absolute;
    border-radius: 17px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;">

{% endfor %}


 <div class="visual_frame_msg_detail"> 



 <div class="general_text_container_msg_detail">
        <div class="from_who_title_msg_detail">
            
            <div class="from_who_msg_detail_limt"><strong>From {{report.user.username}} :  </div>
            </strong> 
            <div> {{report.timestamp}}</div>

            </div> 
  <div class="general_text_detail_msg">

{{ report.content}} 

 

  </div>




 </div>




<div class="data_container__view_msg">   


</div>



<div class="msg_detail_infopanel">
        <div class="files_div_messages_detail"> 
        <div class="attachments_title_msg_detail">
            Attachments
        </div>
        {% for document in documents %}
            {% if document.id|slicer == "image" %}
            <div class="image_div_msg_detail">
            <img src="{% url 'dashboard:pic_picture' document.id %}" 
            id="thumbnail{{document.id}}" 
            onclick="showOverlay('{{document.id}}');" style="width: 100%;
            cursor: pointer;
            ">
            </div>
            {% else %}
            <a href="{% url 'dashboard:pic_picture' document.id %}">
            <div class="file_div_msg_detail"> 
                
                <div class="file_name_div"> {{document.file_name}}  </div> 

                
                 <div class="image_icon_div_msg_detail">
                   
                <img src="{% static 'file_icon3.png' %}"style="z-index: 1;width: 100%;">
                </div>
              
           </div>
            </a>
            {% endif %}
        {% endfor %}
        </div>


</div>





</div>


 <div class="bot_visual_frame_detail"></div>
<script>
function showOverlay(id) {
    document.getElementById('large'+ id).style.display = 'block';
    document.getElementById('thumbnail' + id).style.display = 'none';
}

function hideOverlay(id) {
    document.getElementById('large' + id).style.display = 'none';
    document.getElementById('thumbnail' + id ).style.display = 'block';
}
</script>


<div class="send_msg_back_flex">
 <a href="{% url 'dashboard:inbox' %}">
  <button type="button" class="del_btn2">Back</button>
</a>
<a href="{% url 'dashboard:message_reply' report.user.userprofile.id %}"> 
<button type="button" class="del_btn2">Reply</button>
</a>
</div>
{% endblock %}