 {% include 'dashboard/base.html' %}

 {% block content %}
 <div class="top_visual_frame_task_list"></div>
 <div class="reports_container">
  
 <div class="title">Reports</div>
 <div class="reports_div">


<div class="reports_div_top_section"> 
<form method="post" enctype="multipart/form-data">
 {% csrf_token %}

<div class="add_rec_title_div"> 
  
 {{form.title.label_tag}}
 <div class="title_bar_send_msg">{{form.title}} </div>
 <div class="link_divs_send_msg"> 
  <a class="add_recipient" onclick="document.getElementById('shade_background_modal_add').style.display = 'flex'">Add a recipient |</a>
   <a class="add_recipient" onclick="document.getElementById('shade_background_modal_del').style.display = 'flex'">Delete recipients</a>
   </div>
</div>
   </div>

<div class="send_msg_textarea">  

   <div  class="bottom_left_send_msg"> 
        <div>{{form.content.label_tag}}    </div>
        {{form.content}}

    <div class="bottom_inputs_send_msg">
    <div class="bottom_send_msg"> <div class="filefield_send_msg">
      {{form.picture}} 
    </div>
  <input class="send_msg_btn_create" type="submit" name="send" value="Send"></div>
  
 </div>
   {% if form.errors %}
     <div class="send_messages_error"> {{form.picture.errors}}  </div>
      {% endif %} 
  </div>
  <div class="bottom_right_send_msg">
  <div>{{form.recipient.label_tag}} </div> 
  {{ form.recipient }}

  </div>
  </div>


  </form>
 </div>

 <div class="reports_menu">
  <div class="history_title"> Reports History </div>
   {% for report in data %}
   <div class="history">
    <a class ="link_block" href="{% url 'dashboard:report_update' report.id %}">{{report.title}}</a>
  </div>
   {% endfor %}
  
 </div>
 </div>
 <div class="send_msg_back">
   <a href="{% url 'dashboard:messages' %}"><button class="del_btn2" type="button">Back</button></a>

 </div>
 <div class="bot_visual_frame_send_msg"></div>



 <!-------------------------------ADD & DELETE MODALS----------------------------------->


<!------------------ADD FORM----------------------->
 <div id="shade_background_modal_add" style="
 width: 100vw; 
 height: 100vh;
 background-color: rgba(0, 0, 0, 0.714);
 display: none;
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 
 ">
 <div class="add_form_container">


 



 
    <h1 class="title_add"> Add contacts</h1>
 <form method="post" class="add_contact_form"> 
    
 
      <button type="submit" class="left_add_btn" name="add">Add</button> 
    



   
     
         <button onclick="document.getElementById('shade_background_modal_add').style.display='none'"
          type="button" class="right_add_btn">Close</button>
    
      

   
      
      {% csrf_token %}
      {{form_add.recipients}}
 
  
  </form>

 </div>

 </div>


<!---------------------DEL FORM ------------------------>

 <div id="shade_background_modal_del" style="
 width: 100vw; 
 height: 100vh;
 background-color: rgba(0, 0, 0, 0.714);
 display: none;
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 
 ">
 
 <div class="add_form_container">


     <h1 class="title_add"> Delete contacts</h1>



 
 <form method="post" class="add_contact_form"> 
 
  
      <button type="submit"  class="left_add_btn" name="delete">Delete</button> 
    



       <button onclick="document.getElementById('shade_background_modal_del').style.display='none'"
          type="button" class="right_add_btn">Close</button>
      

   
      
      {% csrf_token %}
      {{form_del.recipients}}
 
  
  
  </form>


 </div>


 </div>
 {% endblock %}





