 {% include 'dashboard/base.html' %}
 {% block content %}
 <div class="visual_frame_msg_detail">   </div>
 <div class="general_text_container">
  <p class="general_text"> {{ report.content}} </p>
 </div>
<div class="data_container__view_msg">   

<div class="from_who_title_msg_detail"><strong> From {{report.user.username}} : </strong> </div>
</div>


{% if report.content_type %}
<div id="overlay" class="overlay" style="display: none; text-align: center;"
     onclick="hideOverlay();">
    <img style="width:90%;margin-top: 5px; border:3px solid black;" 
         src="{% url 'dashboard:pic_picture' report.id %}">
</div>
{% endif %}

{% if report.content_type %}
<img id="thumbnail" style="max-width:14.5%; right:0.2%;" 
     src="{% url 'dashboard:pic_picture' report.id %}"
     onclick="showOverlay();">
{% endif %}

<script>
function showOverlay() {
    document.getElementById('overlay').style.display = 'block';
    document.getElementById('thumbnail').style.display = 'none';
}

function hideOverlay() {
    document.getElementById('overlay').style.display = 'none';
    document.getElementById('thumbnail').style.display = 'inline';
}
</script>


<div class="send_msg_back_flex">
 <a href="{% url 'dashboard:inbox' %}">
  <button type="button" class="del_btn2">Back</button>
</a>
<a href="{% url 'dashboard:messages_create' %}"> 
<button type="button" class="del_btn2">Reply</button>
</a>
</div>
{% endblock %}