<head>

    <title> Delete a contact</title>
    {% load static %}
         <link rel="stylesheet" href="{% static 'dashboard/messages_anchor.css' %}">

</head>

<body>


 <h1 class="title_add"> Delete a contact</h1>


 <div class="add_form_container">
 
 <form method="post" class="add_contact_form"> 
 
       <div class="left_add_btn">
      <button type="submit">Delete</button> 
         </div>

          <div class="right_add_btn"> <a href="{% url 'dashboard:messages_create' %}">  
         <button type="button">Back</button></a></div>
        
      {% csrf_token %}
      {{form.as_p}}
 
  </form>


 </div>

</body>








    
      

