 {% include 'dashboard/base.html' %}

 {% block content %}
 <div class="top_visual_frame_task_list"></div>
 <div class="reports_container_reply">
  
 
 <div class="reports_div_reply">

<div class="reply_msg_title_recipient">Replying to {{recipient.user.username}}</div> 
<div class="reports_div_top_section_reply"> 
    
<form method="post" enctype="multipart/form-data">
 {% csrf_token %}

<div class="add_rec_title_div_reply"> 
  
 {{form.title.label_tag}}

 <div class="title_bar_send_msg_reply">{{form.title}} </div>
 <div class="link_divs_send_msg"> 

   </div>
</div>
   </div>

<div class="send_msg_textarea">  

   <div  class="bottom_left_send_msg_update"> 
        <div>{{form.content.label_tag}}    </div>
        {{form.content}}

    <div class="bottom_inputs_send_msg">
    <div class="bottom_send_msg"> <div class="filefield_send_msg">
      {{form.picture}} 
    </div>
  <input class="send_msg_btn_create_reply" type="submit" name="send" value="Send"></div>
  
 </div>
   {% if form.errors %}
     <div class="send_messages_error"> {{form.picture.errors}}  </div>
      {% endif %} 
  </div>
  <div class="bottom_right_send_msg">



  </div>
  </div>


  </form>
 </div>


 </div>
 <div class="send_msg_back">
   <a href="{% url 'dashboard:messages' %}"><button class="del_btn2" type="button">Back</button></a>

 </div>
 <div class="bot_visual_frame_send_msg"></div>






 {% endblock %}





