{% include 'dashboard/base.html' %}


{% block content %}
<div class="perf_detail_extreme_frame"></div>
<div class="perf_detail_outer_div"> 

      <div class="employee_div">
         <div class="employee_name"> Employee : {{user.first_name}} {{user.last_name}}</div>
          <div class="member_since">Joined : {{user.assigned_on}}</div>
    </div>
   
      <div class="stats_div">
            <div class="text_col_1">
               <div class="perf_detail_row"> Completed tasks</div>
               <div class="perf_detail_row">Denied tasks</div>
          
               <div class="perf_detail_row">Late tasks</div>
               <div class="perf_detail_row">Urgent tasks</div>
               <div class="perf_detail_row">Days Scheduled</div>
               <div class="perf_detail_row"></div>


           </div>
           <div class="number_col_1">
 
               <div class="perf_detail_row">{{stats.total_completed}}</div>
               <div class="perf_detail_row">{{stats.total_denied}}</div>
               <div class="perf_detail_row">{{stats.late_task_count}}</div>
               <div class="perf_detail_row">{{stats.total_urgent}} </div >    
               <div class="perf_detail_row">{{stats.days_scheduled}}</div>
                <div class="perf_detail_row"></div>
                 


           </div>
           <div class="text_col2">
               <div class="perf_detail_row"> Mean time</div>
               <div class="perf_detail_row">Denied ratio</div>
               <div class="perf_detail_row">Late ratio</div>
               <div class="perf_detail_row">Urgent ratio</div>
               <div class="perf_detail_row">Days missed</div>
               <div class="perf_detail_row">Days missed ratio</div>


           </div>
           <div class="number_col2">
                  <div class="perf_detail_row">{{task_mean_time}} h</div >   
                  <div class="perf_detail_row">  {{denied_ratio}} %</div >
                  <div class="perf_detail_row">{{late_ratio}} %</div > 
                  <div class="perf_detail_row"> {{urgent_ratio}} %</div >    
                  <div class="perf_detail_row">{{stats.days_missed}}</div >      
                  <div class="perf_detail_row">{{days_missed_ratio}} %</div >    
                     

           </div>
    <div>

   </div>
    




 

{% endblock %}