{% extends 'dashboard/base.html' %}

{% block content %}

<h1 style="text-align: center; padding-top: 1%;">Help Desk</h1>
<div class="ressources_outer_div" style="border: 2px solid black;">

     <div class="res_top_bar" style="background-color: white; border-right: 1px solid black;">
          <div class="resource_title_ctn"> 
            Navigation tabs 
         </div>

            {% for category in categories %}

          <div class="resource_btn_ctn">
               <button class="btn_resource" onclick="setTopicsVisible('{{category.name}}')">
                  {{category.name}}
               </button>

          </div>
           {% endfor %}

     </div>
    
     <div class="res_main_content" style="border: 0px;
     border-left: 0px;">
      
                  
               <div class="what_content" id="what_content"
               style="   border: 6px solid grey;
               border-right: 0px;
                border-left:4px solid grey;">
                   <div class="choose_section" onclick="setTopicsVisible('Links')"
                   style="cursor: pointer;">
                        Please choose a section</div>
               </div>
         {% for category in categories %}

                  <div class="what_content" id="what_content{{category.name}}" 
                  style="display:none;
                  width: 40%;
                     border: 6px solid grey;
                     border-right: 4px solid grey;
                     border-left:4px solid grey;
                     
                     ">

                        {% for resource in resources %}
                        {% if resource.category.name == category.name %}
                        <div class="topic_btn_res"> 
                              <button class="what_content_button" 
                               onclick="getResource('{{resource.id}}')">
                               {{resource.what}}
                             </button>
                        </div>
                        {% endif %}
                        {% endfor %}
                  </div>   
        {% endfor %}
           
                  <div class="how_content">
                        <div class="how_content_text" id="how_content">
                              <div class="choose_topic">Then choose a topic</div>
                        </div>
                  </div> 
                   

           
     </div>
</div>



 <div class="send_msg_back">
    <button onclick="window.history.back()" class="del_btn2" type="button">Back</button>

</div>

<script>

 function setTopicsVisible(name){

   const keyword = "what_content";
   const matchingElements = document.querySelectorAll(`[id*="${keyword}"]`);

   matchingElements.forEach(elem => {
      elem.style.display='none';
   })
    document.getElementById(keyword + name).style.display = 'block'

 }
 
  

async function getResource(id){
      const response = await fetch(`${window.location.origin}/dashboard/resource/${id}`);
      const data = await response.json();
      console.log(data)
      document.getElementById('how_content').innerHTML = '<p class="res_text_right">' + `${data.how}` + '</p>';
    }
    
    
    


</script>
{% endblock %}