 {% include 'dashboard/base.html' %}
 {% load user_data %}
 {% block content %}
 {% with user|get_schedules:True as schedules_ctx %}
 <div class="extreme_outer_div_schedule_management">
<div class="title_container_schedule_management">
<div class="schedule_title_management">
    Schedule management 

</div>
<div class="date_range_title_top">
    ( {{schedules_ctx.start_month}} - {{schedules_ctx.end_month}} )
</div>
</div>

<div class="schedule_outer_frame_management">


    <div class="schedule_left_panel">

            <div class="schedule_users_title_manage">
             Users

            </div>
           {% for user in users %}
           <div class="schedule_user_div">
            
                <p class="schedule_user_text">{{user.user.username}} </p>
              
           </div>
           {% endfor %}

    </div>


    <div class="schedule_right_area_management">
            
           <div class="schedule_top_row_management">
                     
                     <div class="schedule_availability_title">
                         Availability


                     </div>
                     {% for week in schedules_ctx.week_objects %}
                     <div class="schedule_week_title_top_management">
                        {{week.starting_day.day}}-{{week.end_day.day}}
                     </div>

                     {% endfor %}
           </div>
         

           {% for user in users %}
          
           <div class="schedules_user_rows">
                    
                        <a href="{% url 'dashboard:availability' user.id %}" 
                        class="schedule_user_availability"> 
                        {% if user.availability %}
                        <div>Week : {{user.availability}}  </div>
                        Weekends : {{user.weekends}}
                        {% endif %}
                       </a>
               
                     {% for schedule in schedules_ctx.schedules %}
                     {% if schedule.user == user %}
                     {% if schedule.monday or schedule.tuesday or schedule.wednesday or schedule.thursday or schedule.friday or schedule.friday or schedule.saturday or schedule.sunday %}
                     <a href="{% url 'dashboard:schedule_update' schedule.id %}" 
                     class="schedule_container_management {% if schedule.message %} 
                     schedule_container_management_ammend{% endif %}">
                        <div class="day_separator"> 
                               <div class="schedule_day_left">
                                                             
                                      <div class="justified_day">Mon: {{schedule.monday|default:"--"}}  </div>
                                       <div class="justified_day">

                                       Wed: {{schedule.wednesday|default:"--"}}
                                  </div>
                                   
                                 <div class="justified_day">
                                       Fri: {{schedule.friday|default:"--"}}  
                                 </div>
                                      <div class="justified_day">
                                     Sun: {{schedule.sunday|default:"--"}}  
                                 </div>
                                   
                              </div>
                              <div class="schedule_day_right">
                                   <div class="justified_day">
                                    Tue: {{schedule.tuesday|default:"--"}}
                                     
                                  </div>
                                   <div class="justified_day">
                                     Thu: {{schedule.thursday|default:"--"}}
                                   </div>
                                 
                                    <div class="justified_day">
                                  
                                      Sat: {{schedule.saturday|default:"--"}}
                                     
                                    </div>
                                   
                              </div>

                            
                         </div>
                    </a>   

                     {% elif schedule.unscheduled %}
                      <a href="{% url 'dashboard:schedule_update' schedule.id %}"
                        class="schedule_container_management_unscheduled">
                        <div >
                          Unscheduled
                        </div>
                      </a>   


                        {% elif schedule.vacation %}
                      <a href="{% url 'dashboard:schedule_update' schedule.id %}"
                        class="schedule_container_management_unscheduled">
                          <div style="color: rgb(58, 112, 192);">
                            Vacations
                          </div>
                      </a>   


                      {% else %}

                       <a href="{% url 'dashboard:schedule_update' schedule.id %}" 
                                              class="schedule_add_schedule_cont">
                          <div class="schedule_add_text"> 
                          Add + 
                         </div>
                       </a>   
                 
                     {% endif %}
                     {% endif %}
                     {% endfor %}
            
                          

                     </div>
           
       
       {% endfor %}
   
    </div>

  


</div>
 </div>
<style>
  html{
    background-color: rgba(83, 64, 47, 0.851);
  }
</style>
{% endwith %}
 {% endblock %}