 {% include 'dashboard/base.html' %}
 {% load user_data %}
 {% block content %}
 {% with user|get_schedules:True as schedules_ctx %}
 <div class="extreme_outer_div_schedule_management">
<div class="title_container_schedule_management">
<div class="schedule_title_management">
    Schedule management 

</div>
<div class="date_range_title_top">
    ( {{schedules_ctx.start_month}} - {{schedules_ctx.end_month}} )
</div>
   
</div>
 {% if schedules_ctx.pending == 1 %}
    <div class="request_pending_counter">
      There is {{schedules_ctx.pending}} schedule to appeal
    </div>
    {% elif schedules_ctx.pending >= 1 %}
    <div class="request_pending_counter">
      There are {{schedules_ctx.pending}} schedules to appeal
    </div>
    {% endif %}
<div class="schedule_outer_frame_management">


    <div class="schedule_left_panel">

            <div class="schedule_users_title_manage">
             Weeks

            </div>
                  
                   
             {% for week in schedules_ctx.week_objects %}
        
           <div class="schedule_user_div">
             {{week.starting_day.day}}-{{week.end_day.day}}
              
              
           </div>
           {% endfor %}
           

    </div>
   

    <div class="schedule_right_area_management">
            
           <div class="schedule_week_title_top_management">
                  
                       {% for user in users %}
                     <div class="schedule_top_div">
                        {{ user.user.username}}
                     </div>

                     {% endfor %}
           </div>
         
     <div class="right_panel">
        
           {% for user in users %}
          
           <div class="user_col">
                  
               
                     {% for schedule in schedules_ctx.schedules %}
                     {% if schedule.user == user %}
                     {% if schedule.monday or schedule.tuesday or schedule.wednesday or schedule.thursday or schedule.friday or schedule.friday or schedule.saturday or schedule.sunday %}
                     <a href="{% url 'dashboard:schedule_update' schedule.id %}">
                        <div class="day_separator {% if schedule.request_pending %}
                        schedule_container_management_ammend {% endif %}"> 
                            
                                        <div>                  
                                    Mon: {{schedule.monday|default:"--"}} 
                                      </div>    
                                      <div>    
                                    Tue: {{schedule.tuesday|default:"--"}}
                                    </div>    
                                    <div>    
                                       Wed: {{schedule.wednesday|default:"--"}}
                                    </div>    
                                    <div>    
                                    Thu: {{schedule.thursday|default:"--"}}
                                     </div>    
                                     <div>    
                                       Fri: {{schedule.friday|default:"--"}}  
                                   </div>    
                                   <div>    
                                      Sat: {{schedule.saturday|default:"--"}}
                                      </div>   
                                      <div>     
                                     Sun: {{schedule.sunday|default:"--"}}  
                                      </div>   
                                     
                              
                                    
                                
                                 
                             
                                  
                              
                                     
                                  
                                   
                             
                            
                         </div>
                    </a>   

                     {% elif schedule.unscheduled %}
                      <a href="{% url 'dashboard:schedule_update' schedule.id %}"
                        class="schedule_container_management_unscheduled">
                        <div >
                          Unscheduled
                        </div>
                      </a>   


                        {% elif schedule.vacation %}
                      <a href="{% url 'dashboard:schedule_update' schedule.id %}"
                        class="schedule_container_management_unscheduled">
                          <div style="color: rgb(58, 112, 192);">
                            Vacations
                          </div>
                      </a>   

                    

                      {% else %}

                       <a href="{% url 'dashboard:schedule_update' schedule.id %}" 
                                             >
                          <div class="schedule_add_text"> 
                           <p class="add_text">Add + </p>
                         </div>
                       </a>   
                 
                     {% endif %}
                     {% endif %}
                     {% endfor %}
            
                          

                     </div>
           
       
       {% endfor %}
       </div>
    </div>

  


</div>
 </div>
<style>
 
</style>
{% endwith %}
 {% endblock %}