 {% extends 'dashboard/base.html' %}
 {% load static %}
 {% block content %}
 {% if user.userprofile == user.userprofile.team.team_lead %}
 
 <div class="update_task_manage_extreme_outer"> 

   <div id="form_container_update_subtask_detail_manage"></div>
   
   <div class="form_container" id="task_update_manage_form">
<form method="post" enctype="multipart/form-data">


      {% csrf_token %}

<div class="task_create_title"> 
  {{ form.name.label_tag }}
   {{form.name}}
</div>
         <div class="title_div_create_task">
                  <div class="title_div_create_task">
                     {{form.description.label_tag}}
                  </div>
                  <div class="user_labeltag_task_update">  
                  {{form.users.label_tag}}
                  </div>
         </div>

         <div class="task_create_middle_container">  
 
               <div class="description_task_form"> {{form.description}} </div>
               
                  <div class="task_form_select"> {{form.users}}</div>
         </div>


<div class="flex_form_container">
    <div>{{form.due_date.label_tag}}</div>
    <div class="due_date_task_form">{{form.due_date}}</div>
          <div> {{form.urgent.label_tag}}</div>
       <div class="urgent_input"> {{form.urgent}}</div>
   

</div>


<div class="bot_flex_form_container">

  
       <div class="file_input_task_manage">   {{file_form.file_field}}</div>
       {% if file_form.errors %}
     <div class="file_error_update_task"> {{file_form.file_field.errors}}  </div>
      {% endif %} 
    <div class="task_form_btn_container">
      
        <button type="submit" name="send" class="btn-update-task-manage">Update</button>

      <button type="button" class="btn-submit-task-manage" 
      onclick="setVisible(this,'confirm_delete_modal_manage')">
       Delete
      </button>
  {% if not task.chart %}
      <button class="transfer_chart" type="button" 
      onclick="document.getElementById('transfer_modal').style.display='block'">
      To chart >
     </button>
    {% endif %}
      
   </div>
   
</div>



 </div>
 

 <!-----------------------------------Delete confirm modal--------------------------------->
<div id="confirm_delete_modal_manage" style="width: 25vw;
                height: 27vh;
                background-color: rgba(79, 79, 79, 0.686);
                position: absolute;
                left: 50%;
                top: 50%;
                display: none;
                border-radius: 8px;
                color: white;
                transform: translate(-50%,-50%);
                ">

                <div class="confirm_delete_modal_subtask_cont"> 
                     <div class="confirm_deletion_text"> Confirm deletion  </div>
                     <div class="button_confirm_delete_div"> 
                    <button type="submit" name="delete" id="delete_btn_task"
                    class="btn-submit-task-manage" value="1">
                      Delete
                    </button>

                      <div> 
                         <button type="button" id="cancel_btn_task"
                            onclick="document.getElementById(
                              'confirm_delete_modal_manage').style.display ='none'">
                            Cancel
                        </button>
                      </div>
                      </div>
                 </div>
</div>


 <!----------------------------------------------------------------------------------------->
 </form>
<!---------------------------------------TRANSFER FORM MODAL-------------------------------------------->
 <div id="transfer_modal">
   <div class="x_btn_transfer" 
   onclick="document.getElementById('transfer_modal').style.display='none'">
   X
  </div>


   <form method="post">
    <div class="transfer_form">

   
      {% csrf_token %}
         <div> 
               <div class="chart_tranfer_input">
                Chart :
                {{ transfer_form.chart }}
               </div>
               <div class="section_tranfer_input">
                  Section :
               {{ transfer_form.section }}
               </div>
              
               <div class="date_field_transfer">Start:
                {{ transfer_form.starting_date}}
               </div>
              
                <div class="date_field_transfer2"> Due:
                {{ transfer_form.due_date}}
               </div>
         </div>
    </div>
        <button type="submit" class="transfer_submit">Submit</button>

  

 </div>

 <!----------------------------------------------------------------------------------------->
<div class="task_update_manage_right_subtask_div" id="right_task_detail_manage">
     
      <div class="task_update_subtask_cont">
         <div class="task_update_right_pane_title">Subtasks</div>
                {% for subtask in subtasks %}
                 <div class="task_completed">
                <div class="task_completed_flex"> 
               <div class="subtask_name" onclick="renderSubtask('{{subtask.id}}')"> {{subtask.name}} </div>
                         <a
                      class="indicator_subtask_yellow {% if subtask.completed %}
                      indicator_subtask_green {% endif %}">
             
                    </a>
                 </div>
                 <div class="subtask_user_manage">( {{subtask.user}} ) </div> 
                  </div> 
                {% endfor %}
            
      </div>
               

               <div class="files_outer_div_update_manage" id="file_outer_man">

               <div class="file_title_man">Files
                     <img src="{% static 'expand.png' %}" class="expand_icon" 
                onclick="expandFile('file_outer_man', 'files_outer_div_update_manage')" 
                style="height:25px;">
                  
                </div>

                  {% if files %}
                  {% for file in files %}
                  <a class="file_link_task_detail" href="{% url 'dashboard:get_file' file.id %}">  
               <div class="file_div_task_detail_manage">
                  {{file.file_name}} 
                  <div class="time_recent_file">{{file.owner}} ({{file.time}})  </div>
               </div>
               
               </a>
                  {% endfor %}
               {% endif %}
               </div>
               <div class="btn_div_task_manage_rightpanel" style="background-color: rgb(69, 69, 69);">
                                 <button class="add_files_btn_subtask_manage" 
onclick="document.getElementById('your_file_modal_task_detail').style.display = 'flex'">
                  Delete files
                  </button>
               </div>
</div>




</div>
      <div class="send_msg_back">
   <a href="{% url 'dashboard:team' %}"><button class="del_btn2" type="button">Back</button></a>

 </div>
{% endif %}


<!---------------------------YOUR FILE MODAL -------------------------------->

<div id="your_file_modal_task_detail" style="
              width: 36%;
              height: 80%;
              position: absolute;
              display: none;
              left: 50%;
              top: 50%;
              border-radius: 5px;
              transform: translate(-45%,-50%);
              background-color: rgba(99, 99, 99, 0.91);
            
        

          "> 
            <button class="x_btn_your_files"
onclick="document.getElementById('your_file_modal_task_detail').style.display = 'none'">
          X
          </button>

              <div class="your_files_container_modal">
                
                {% for file in user_files %}
                 <a href="{% url 'dashboard:delete_file' file.id 1 %}" >
                <div class="your_files_div">
                 
                      {{file.file_name}}
                        
                    </div>
                     
                       </a>
                        
               
                {% endfor %}
              </div>
</div>


<script>

async function renderSubtask(id){
  
   document.getElementById('task_update_manage_form').style.display='none';
   
   const middle = document.getElementById('form_container_update_subtask_detail_manage');
   const right_div = document.getElementById('right_task_detail_manage');
   const left_border = window.getComputedStyle(right_div).getPropertyValue('border-left');
   right_div.style.borderLeft = '2px solid black';
   middle.style.display='block';
   middle.innerHTML = ''
   const data = await getSubTask(id)
   console.log(data)
   middle.innerHTML  = `
      
      <div class="subtask_detail_frame">
   
          <div class="x_btn_middle_subtask_detail">
            <button onclick="document.getElementById('task_update_manage_form').style.display = 'block';
            document.getElementById('form_container_update_subtask_detail_manage').style.display ='none';
            document.getElementById('right_task_detail_manage').style.borderLeft = '0px';">X</button>
            </div>
        <div class="subtask_detail_title">${data.name}</div>
          <div class="subtask_detail_middle_user">( ${data.user} )</div>
        <div class="subtask_detail_description_block_manage">${data.description}</div>
      
      </div>
       </div> 
    `;

  }


document.addEventListener('DOMContentLoaded', function () {
    const chartSelect = document.getElementById('id_chart');
    const sectionSelect = document.getElementById('id_section');

    chartSelect.addEventListener('change', async function () {
        const chartId = this.value;

        try {
            const response = await fetch(`/dashboard/team/getSection/${chartId}`);
            const data = await response.json();

            sectionSelect.innerHTML = '';

            for (const [id, name] of Object.entries(data)) {
                const option = document.createElement('option');
                option.value = id;
                option.textContent = name;
                sectionSelect.appendChild(option);
            }
        } catch (error) {
            console.error('Error fetching sections:', error);
        }
    });
});




</script>
  {% endblock %}