 {% include 'dashboard/base.html' %}

 {% block content %}

 {% if user.userprofile == user.userprofile.team.team_lead %}
<form method="post" class="task_form" enctype="multipart/form-data">

<div class="form_container_manage">
      {% csrf_token %}

<div class="task_create_title"> 
  {{ form.name.label_tag }}
   {{form.name}}
</div>
         <div class="title_div_create_task">
                  <div class="title_div_create_task">
                     {{form.description.label_tag}}
                  </div>
                  <div>  
                  {{form.users.label_tag}}
                  </div>
         </div>

         <div class="task_create_middle_container">  
 
               <div class="description_task_form"> {{form.description}} </div>
               
                  <div class="task_form_select"> {{form.users}}</div>
         </div>


<div class="flex_form_container">
    <div>{{form.due_date.label_tag}}</div>
    <div class="due_date_task_form">{{form.due_date}}</div>
          <div> {{form.urgent.label_tag}}</div>
       <div class="urgent_input"> {{form.urgent}}</div>
   

</div>


<div class="bot_flex_form_container">

<div>   {{file_form.file_field}}</div>

    <div class="task_form_btn_container">
        <input type="submit" name="send" value="Submit" class="btn_submit_manage_create_task">

   </div>
</div>


</div>
 
 </form>

      <div class="send_msg_back">
   <a href="{% url 'dashboard:team' %}"><button class="del_btn2" type="button">Back</button></a>

 </div>
{% endif %}

  {% endblock %}