 {% extends 'dashboard/base.html' %}

 {% block content %}

 <h1 class="team_title">{{user.userprofile.team.name}} management</h1>
 <div class="team_second_title">
 <button onclick="setVisible(this, 'team_tasks', 'team_all_task_list'); " id="toggle_manage">
   Employee / Tasks
</button>
 <button onclick="setVisible(this, 'team_all_task_list', 'team_tasks')" id="toggle_manage">
   Task list
</button>
 
 </div>
<div class="border_container"></div>
 <div class="team_container1">


<div id="team_all_task_list">

      <div class="manage_all_task_list_container_title">
          <div class="manage_all_task_list_name_title">Task name</div>
            
          <div class="manage_all_task_list_date_title">Due date</div>

     </div>
     {% for task in tasks %}
     <a href="{% url 'dashboard:task_manage_update' task.id %}"> 
     <div class="manage_all_task_list_container">
               <div class="manage_all_task_list_name">{{task.name}} </div>
            
               <div class="manage_all_task_list_date {% if task.due_date < time %}
                  manage_all_task_list_date_late {% endif %}">{{task.due_date}}</div>
     </div>
     </a>
     {% endfor %}



</div>
<div class="team_tasks" id="team_tasks">



{% for member in team %}
<div class="team_member_rows">
<a href="{% url 'dashboard:perf_detail' member.id %}" class="team_name_container">{{member.user.username}} ({{member.role.name}})</a>
{% for task in member.task_users.all %}
{% if task.denied %}
<div class="tasks_units_blocks_denied">
<a class="link_management" href="{% url 'dashboard:task_manage_update' task.id %}">{{task.name}}</a></div>

{% elif not task.completed %}
<div class="tasks_units_blocks">
<a class="link_management" href="{% url 'dashboard:task_manage_update' task.id %}">{{task.name}}</a></div>
{% else %}
<div class="tasks_units_blocks_completed">
<a class="link_management" href="{% url 'dashboard:task_manage_update' task.id %}">{{task.name}}</a></div>
{% endif %}


{% endfor %}
</div>
{% endfor %}




</div> 


<div class="team_management"> 



<div class="btn-div">  
 <a href="{% url 'dashboard:task_manage_create' %}"> 
    <button class="button_tasks_list" type="button">New task</button>
 </a>
</div>

<div class="btn-div3">
<a href="{% url 'dashboard:team_completed' %}"> 
<button class="button_tasks_list">Review tasks</button>
</a>   
</div>
<div class="btn-div4">
   ({{count}}) new tasks 
</div>


<div class="btn-div2">
<a href="{% url 'dashboard:team_update' user.userprofile.team.id %}">
<button type="button" class="button_tasks_list">Pin a message for the team</button>
</a>
</div>

<div class="btn-div-5">
   <a href="{% url 'dashboard:schedule_manage' %}"><button type="button" class="button_tasks_list">Schedules </button>
</a>

</div>

<div class="btn_div_6">
   <a href="{% url 'dashboard:perf_team' user.userprofile.team.id %}"> <button class="button_tasks_list"> Performance metrics</button></a>

</div>

</div>
</div>










 {% endblock %}
