 {% extends 'dashboard/base.html' %}
 {% load static user_data %}
 {% block extra_css %}
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

 {% endblock %}
 {% block content %}



 <h1 class="team_title">
   {% if user.userprofile.team.team_lead == user.userprofile %}
   {{user.userprofile.team.name}} management
   {% else %}
    {{user.userprofile.team.name}}
    {% endif %}
  </h1> 


<div class="border_container"> 
    {% if user.userprofile.team.team_lead == user.userprofile %}
    <div class="top_buttons_container"> 
      <div class="team_second_title">
         {% if user.userprofile.team.team_lead == user.userprofile %}
            <button onclick="setVisible(this, 'team_tasks', 'team_all_task_list', 'team_status');
            document.getElementById('team_buttons').style.display='block'" 
            id="toggle_manage" class="management_tog_btn">
               Tasks
            </button>
             <button onclick="setVisible(this, 'team_status', 'team_all_task_list', 'team_tasks', 'team_buttons', 'grid')" 
            id="toggle_manage" class="management_tog_btn">
               Statuses
            </button>
            <button onclick="setVisible(this, 'team_all_task_list', 'team_tasks', 'team_status');
            document.getElementById('team_buttons').style.display='block'" 
            id="toggle_manage" class="management_tog_btn">
               Task list
            </button>
            {% endif %}
     </div>
     <div class="nav_cont">
         
               <button class="scroll_not_manage" onclick="scrollToBot('team_tasks', 'team_all_task_list')"> ▼
               </button>
               <button class="scroll_not_manage" onclick="scrollRight('team_tasks')">▶</button>
               <button class="scroll_not_manage" onclick="reset('team_tasks', 'team_all_task_list')">Reset</button>
                   <div class="filter_form">
           
           
            
            
            </div>

     </div>

      <div class="filter_cont">
              <form method="get">
              {{form.role}}
            </form>
              <div>
               <a href="{% url 'dashboard:team' %}" class="filter_clear">Clear</a>
             </div>
            
      </div>

     
    
 
    </div>    
     <div class="late_tasks_action" onclick="document.getElementById('late_tasks_modal').style.display='block'">
        {% if late_tasks.count == 1 %}
        <img src="{% static 'exclamation.png' %}" style="width: 13%;">
        ({{late_tasks.count}}) late task
        {% elif late_tasks.count > 1 %}
         <img src="{% static 'exclamation.png' %}" style="width: 13%;">
        ({{late_tasks.count}}) late tasks
        
        {% endif %}
      </div>
               
</div>
 <div class="team_container1">


<div id="team_all_task_list">

      <div class="manage_all_task_list_container_title">
          <div class="manage_all_task_list_name_title">Task name</div>
            
          <div class="manage_all_task_list_date_title">Due date</div>

     </div>
     {% for task in tasks %}
     {% if not task.approved_by %}
     <a href="{% url 'dashboard:task_manage_update' task.id %}"> 
     <div class="manage_all_task_list_container">
               <div class="manage_all_task_list_name">{{task.name}} </div>
            
               <div class="manage_all_task_list_date {% if task.due_date < time %}
                  manage_all_task_list_date_late {% endif %}">{{task.due_date}}</div>
     </div>
     </a>
     {% endif %}
     {% endfor %}



</div>

<div class="team_tasks" id="team_tasks">



{% for member in team %}
<div class="team_member_rows">
<a href="{% url 'dashboard:perf_detail' member.id %}" class="team_name_container">{{member.user.username}} ({{member.role.name}})</a>
{% for task in member.task_users.all %}
{% if not task.approved_by %}
{% if task.completed %}
<div class="tasks_units_blocks_completed">
      <a class="link_management" href="{% url 'dashboard:task_manage_update' task.id %}">
         {{task.name}}
         </a>

         <div class="icons_manage">
              <div class="people_img_div_man">
            {{count}}
               
            <img src="{% static 'team_icon14.png' %}" class="people_img" id="people{{task.id}}"
            data-member="{{task|get_team}}">
            </div>
          
            {% if task.section %}
            
            <div class="chart_icon_div"> 
            <img src="{% static 'chart_icon4.png' %}" id="chart_img{{task.id}}" class="chart_img"
                  onclick="info('{{task.chart.id}}')"
                   data-title="{{task.chart.title}}">
            </div>
            {% endif %}

         </div>


</div>


{% elif task.due_date < time  %}
 {% with task|getUserCount as count %}
<div class="tasks_units_blocks_denied">
         <a class="link_management" href="{% url 'dashboard:task_manage_update' task.id %}">
            {{task.name}}
         </a>
         <div class="icons_manage">
            <div class="people_img_div_man">
            {{count}}
               
            <img src="{% static 'team_icon14.png' %}" class="people_img" id="people{{task.id}}"
            data-member="{{task|get_team}}">
            </div>
           
            {% if task.section %}
            
            <div class="chart_icon_div"> 
            <img src="{% static 'chart_icon4.png' %}" id="chart_img{{task.id}}" class="chart_img"
                  onclick="info('{{task.chart.title}}')"
                  data-title="{{task.chart.title}}">
            </div>
            
            {% endif %}
          
         </div>
</div>
{% endwith %}
{% elif not task.completed %}
 {% with task|getUserCount as count %}
<div class="tasks_units_blocks">
     
         <a class="link_management" href="{% url 'dashboard:task_manage_update' task.id %}">
         {{task.name}}
         </a>

         <div class="icons_manage">
              <div class="people_img_div_man">
            {{count}}
               
            <img src="{% static 'team_icon14.png' %}" class="people_img" id="people{{task.id}}"
            data-member="{{task|get_team}}">
            </div>
          
            {% if task.section %}
            
            <div class="chart_icon_div"> 
            <img src="{% static 'chart_icon4.png' %}" id="chart_img{{task.id}}" class="chart_img"
                  onclick="info('{{task.chart.id}}')"
                   data-title="{{task.chart.title}}">
            </div>
            {% endif %}

         </div>
</div>

{% endwith %}

{% endif %}

{% endif %}
{% endfor %}
</div>
{% endfor %}




</div> 


<div class="team_management" id="team_buttons"> 



<div class="btn-div">  
 <a href="{% url 'dashboard:task_manage_create' %}"> 
    <button class="button_tasks_list" type="button">New task</button>
 </a>
</div>

<div class="btn-div3">
<a href="{% url 'dashboard:team_completed' %}"> 
<button class="button_tasks_list">Review tasks <span class="count_green">({{ count }})</span></button>
</a>   
</div>





<div class="btn-div2">
<a href="{% url 'dashboard:team_update' user.userprofile.team.id %}">
<button type="button" class="button_tasks_list">Pin a message</button>
</a>
</div>

<div class="btn-div-5">
   <a href="{% url 'dashboard:schedule_manage' %}"><button type="button" class="button_tasks_list">Schedules </button>
</a>

</div>

<div class="btn_div_6">
   <a href="{% url 'dashboard:perf_team' user.userprofile.team.id %}"> <button class="button_tasks_list"> Performance metrics</button></a>

</div>

<div class="btn_div_6">
  
      <button class="button_tasks_list"
      onclick="setVisible(this, 'reports_modal')">View reports<span class="count_green"> 
         ({{ unseen_reports }})</span></button>

</div>

</div>
 {% endif %}


 <div class="team_status_div 
 {% if user.userprofile.team.team_lead == user.userprofile %} 
 status_div_manage {% endif %}" id="team_status">
   {% for user in team %}
   {% with user.id|get_picture as id %}
   <div class="team_member_bubbles">
      <div class="username_div">
       {{user.user.username}}

       <div class="picture_cont">
         <img src="{% url 'dashboard:pic_picture' id %}" class="pic">

      </div>
      </div>
    
      
        <div class="active_task">
         <img src="{% static 'task_icon.png' %}" style="width: 7%;"> {{user.active_task.name}}
      </div>
      <div class="status">
         {{user.status}}
      </div>
      <div class="last_login">
        Last login : {{user.user.last_login}}
      </div>
     
   </div>
   {% endwith %}
   {% endfor %}
      
 </div>

</div>


       <div id="info_modal_team">
         <div class="team_list_title">
             Team

         </div>
         <div id="text_team"></div>
          
       </div>
         



      <div id="info_modal">
         
         <p id="text_value">
            Go to chart

         </p>
         </div>


<div id="reports_modal">
    <div class="x_btn_reports" 
     onclick="document.getElementById('reports_modal').style.display='none'">
      X
    </div>
      {% for report in reports %}
      {% if report.content_object.read %}
    <a href="{% url 'dashboard:get_report' report.id %}" class="seen_report">
     {{report.file_name}}

    </a>
    {% else %}
       <a href="{% url 'dashboard:get_report' report.id %}" class="new_report">
     {{report.file_name}}

    </a>
    {% endif %}
 
      {% endfor %}
</div>

<div class="late_tasks_modal" id="late_tasks_modal">
  <div class="x_div_late">
        <button class="x_btn_late" 
        onclick="document.getElementById('late_tasks_modal').style.display='none'">
          X
        </button>
  </div>
   {% for task in late_tasks %}
    <a href="{% url 'dashboard:task_manage_update' task.id %}"> 
        <div class="late_task_unit_modal">
        {{task.name}}
         <div class="was_due"> Was due : {{task.due_date}}</div>
        </div>
    </a>
   {% endfor %}
</div>


<script>
$(document).ready(function() {
  $('#role').select2({
    placeholder: 'Filter by role',
  });
});


document.addEventListener('DOMContentLoaded', () => {
    setInfoBubble('chart_img', 'info_modal');
    setTeamBubble();
});


 function scrollToBot(elem1, elem2) {
  const div1 = document.getElementById(elem1);
  const div2 = document.getElementById(elem2);

  if (div1) {
    div1.scrollTo({
      top: div1.scrollHeight,
      behavior: 'smooth'
    });
  }

  if (div2) {
    div2.scrollTo({
      top: div2.scrollHeight,
    
      behavior: 'smooth'
    });
  }
}
  function scrollRight(elem) {
     const div = document.getElementById(elem);
 
    div.scrollTo({
      left: div.scrollWidth,
      behavior: 'smooth' 
      
    });
 
  }

function reset(elem1, elem2) {
  const div1 = document.getElementById(elem1);
  const div2 = document.getElementById(elem2);

  if (div1) {
    div1.scrollTo({
      top: 0,
      left: 0,
      behavior: 'smooth'
    });
  }

  if (div2) {
    div2.scrollTo({
      top: 0,
      left: 0,
      behavior: 'smooth'
    });
  }
}
</script>






 {% endblock %}
