/*********Management completed tasks********/
.extreme_outer_div_task_manage_detail{
   display:flex;
    border: 2px solid rgb(62, 62, 62);
    position: absolute;
    height: 88vh;
    width: 82vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);


}
.task_detail_left_panel_manage{

     border: 2px rgb(62, 62, 62) solid;
     margin-right: 2px;
    background-color: rgb(174, 196, 215);
    padding: 2px;
    width:20%;   
    border-left: 0px;
}
.tasklist_blocks_title_manage{
       height: 6%;
      display: flex;
      align-items: center;
   position: sticky;
    z-index: 100;
    top: 0;
       background-color: rgb(255, 255, 255);
         border: 1px rgb(155, 152, 152) solid;
}
.task_blocks2{
       height: 11%;
      display: flex;
      align-items: center;

       background-color: rgb(242, 242, 242);
         border: 1px rgb(155, 152, 152) solid;
}
.task_list_manage_task_name_title{
   border: 2px solid rgb(62, 62, 62);
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(188, 188, 188);
    

}

.task_list_manage_task_duedate_title{
        border: 2px solid rgb(62, 62, 62);
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
     background-color: rgb(188, 188, 188);
   
 
}
.task_list_manage_task_name{
     border: 2px solid rgb(62, 62, 62);
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.task_list_manage_task_duedate{
      border: 2px solid rgb(62, 62, 62);
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1px;
    background-color: rgb(201, 233, 242);
}
.task_list_manage_task_duedate_late{
        border: 2px solid rgb(62, 62, 62);
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1px;
    background-color: rgb(223, 184, 132);
}
.task_list_due_date_text{
    position: relative;
    left: 14%;
}
.task_list_review_title_text{
   
    position: relative;
    color: rgb(22, 22, 22);
}
.task_title2{
      position: sticky;
  top: 0;
  z-index: 100; 
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
   padding-bottom: 1%;
  border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
   
 
 

  
}
.task_list_manage_separator{
    height: 4vh;
     background-color: #f4f4f4;
}


.task_block_container_manage{
    overflow-x: auto;
    width: 40vw;
    
   
}
.tasks_completed_list{
   
    width: 65vw;
    height: 88vh;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50% ,-53%);
   
    overflow-x: hidden;

  

}
.task_list_blocks_div{
    height: 83%;
 overflow-y: scroll;
 overflow-x: hidden;
 background-color: rgb(236, 236, 236);

}
.task_list_manage_task_name_text{
    margin-left: 1%;
}
#thumbnail2{ 
    max-width: 100%;
    position: fixed;
    bottom: 2%;
   
}
.top_visual_frame_task_list_management{
        width: 100vw;
    background-color: rgb(148, 113, 91);
    height: 6.05vh;
    top: 0%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: -1;
}
.bot_visual_frame_task_list_management{
    width: 100vw;
    background-color: rgb(148, 113, 91);
    height: 4vh;
    bottom: 0%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: -1;
}
.task_detail_left_panel{
   


}
.task_detail_right_panel{
     border: 2px solid rgb(62, 62, 62);
    width: 23%;
    border-right: 0px;
    background-color: rgb(174, 196, 215);

 
}

.task_detail_completed_btn{
 width: 75%;
 height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}
.files_outer_div_update_manage{
   
    background-color: rgb(100, 100, 100);
    height: 50%;
  
    left: 50%;
   
    transform: translateX(-50%);
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    


}
.task_completed_deny_container{
     margin-top: 10%;
  /*  border: 2px purple solid;*/
    height: 10%;
    
}
.task_completed_deny_container2 textarea{
  border: 2px solid grey;
  width: 95%;
  margin-top: 14%;
}
.task_completed_deny_container2{
  text-align: center;
  
  margin-top: 10%;
}
.btn_deny{
   background-color: #5b5b5b;
   width: 75%;
    padding: 6%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;

}
.left_bar_team_members_container{
 
    height: 45%;
    width: 99%;
    overflow: auto;
    margin-top: 1%;
 
}
.task_description_text_modal_manage{
    border: 1px solid black;
    position: relative;
    height: 90%;
    overflow-y: scroll;
      overflow-y: scroll;
    text-justify: auto;
    white-space: pre-wrap;
    text-align:justify left;
    padding-left: 1%;
    padding-top: 2%;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(234, 234, 234);
}
.task_description_title_modal_manage{
    font-size: x-large;
    text-align: center;
    color: rgb(41, 41, 41);
}
.task_modal_manage_btn{
    width: 10%;
    height:10%;
 
   
}
.second_text_container_management{
    border: 2px solid rgb(110, 110, 110);
    height: 100%;

 
     width: 100%;
    overflow-y: scroll;
    text-justify: auto;
    white-space: pre-wrap;
    text-align:justify top;
  
    background-color: rgb(245, 245, 245);
    font-family: 'Times New Roman', Times, serif;

}
.text_frames_container_management{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-right: 0.7%;
 




 
   /* border: greenyellow 2px solid;*/
}
.title_completion_note{
    height: 5%;
    border: 2px rgb(62, 62, 62) solid;
    background-color: rgb(192, 152, 116);
    text-align: center;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    
} 
.task_detail_completed_link{

    border: 2px rgb(85, 85, 85) solid;
    margin: 1%;
    padding-top: 10px;
    top: 15%;
    width: 98%;
    height: 10%;
 
    background-color: rgb(192, 231, 204);
     padding: 2%;
     border-radius: 4px;

    

}

.general_text_management2{
     top: -6%;
    position: relative;
   /* border: 2px solid green;*/
    padding-left: 1%;
    overflow-wrap: break-word;    
    overflow: hidden;   

}
/*************Task Form*****************/
.task_create_middle_container select{
    height: 10vh

}
.task_create_middle_container{

    width: 100%;
  /*  border: 2px solid green;*/
    display: flex;
    margin-top: 0.5%;
}
.description_task_form_chart{
    width: 100%;
}
.description_task_form{
    width: 77%;
    margin-top: 1%;
 /*   border: 2px black solid;*/
 
}
.user_labeltag_task_update{
    margin-left:3.9% ;
}
.description_task_form textarea{
    background-color: rgb(255, 255, 255);
}
.form_frame{
    background-color: aqua;
    width: 80vw;
}
.form_margin{
    margin-top: 1%;
    
}
.due_date_chart_create{
   display: flex;
   gap: 5.4%;
   margin-left: 0.5%;
}

.task_create_chart_text_select{
    margin-top: 1.5%;
}
.task_create_title input{
   width: 26vw;
   margin-left: 3vw;
   margin-bottom: 1vh;
}
#task_update_manage_form{
    display: block;
}
.subtask_detail_description_block_manage{

    border: 1px solid rgb(172, 172, 172);
    height: 59vh;
    margin-top: 2%;
    padding-top: 1%;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
    position: relative;
    padding-left: 1%;
    background-color: #3b3b3b;
    text-align: left;
    white-space: pre-wrap;

}
.subtask_user_manage{
    margin-top: 2%;
    font-size: small;
    padding-right: 1%;

}
.form_container_manage{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(174, 196, 215);
    padding-left: 3%;
    padding-right: 2%;
    padding-top:4%;
    padding-bottom: 1%;
    border: 2px solid black;
    width: 60vw;
}
#form_container_update_subtask_detail_manage{
    display: none;
      position: relative;
    
    width: 60vw;
    background-color: rgb(89, 89, 89);
    padding-left: 3%;
    margin-right: 2px;
    padding-right: 2%;
 
    padding-bottom: 1%;
    border: 5px solid rgb(171, 171, 171);
    
   
    
}
.subtask_detail_management_frame{
    border: 2px solid green;
}
.form_container{
    position: relative;
    
    width: 60vw;
    background-color: rgb(174, 196, 215);
    padding-left: 3%;
    padding-right: 2%;
    padding-top:4%;
    padding-bottom: 1%;
    border: 2px solid rgb(55, 55, 55);
    border-right: 1px solid black;

   
    
}
.urgent_input{
    transform: scale(1.5);
}
.title_div_create_task{
    display: flex;
   
   /* border: 2px solid black;*/
}
.title_div_create_task{
/*border: 2px solid black;*/
    width: 84.9%;
    
}
.task_form_chart_select select{
height: 51.2vh;
}
.task_form_chart_select{
    width: 40%;
     
     
     

}
.form_container_create_task_chart{
  height: 92vh;
    width: 64vw;
       position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   
  
    background-color: rgb(174, 196, 215);
    padding-left: 3%;
    padding-right: 1%;
    padding-top:1%;
    padding-bottom: 2%;
    border: 2px solid black;

}
.task_form_select{
    height: 55vh;
    width: 25%;
    margin-top: 1%;
  
}
.task_create_middle_container textarea{
    height: 98%;
}
.task_form_select select{
    width: 100%;
    height: 100%;
  
}
.task_create_title_tag{
    display: flex;
}
.flex_form_container_update{
    display: flex;
   /* border: 2px red solid;*/
    gap: 2%;
    width: 100%;
    padding: 0.5%;
    
}
.flex_form_container{
    display: flex;
   /* border: 2px red solid;*/
    gap: 7%;
    width: 100%;
    padding: 0.5%;
    margin-top: 1vh;
    
}
#delete_btn_task{
    width: 10vw;
    padding: 10%;
    background-color: #3b3b3b;
    color: white;
    border-radius: 5px;
   border: 2px solid rgb(162, 162, 162);
}
#cancel_btn_task{
    width: 10vw;
    padding:7%;
      border: 2px solid rgb(162, 162, 162);
      border-radius: 5px;
    color: white;
    background-color: #3b3b3b;
}
#cancel_btn_task:hover{
 background-color: rgb(88, 123, 230);
}

.btn-submit-task-manage:hover{
  background-color: rgb(191, 78, 78) !important;
}
.bot_flex_form_container{
    margin-top: 3%;
    display: flex;
    gap: 6%;
  
   width:101%;
   height: 20%;
}
.bot_flex_form_container input{
    width: 100%;
}
.task_form_btn_container{

  display: flex;

 
  width: 30%;



}
.file_input_task_manage{
    width: 70%;
}
.btn-submit-task-manage{
  padding: 5%;
  width: 45%;
    
}
.btn-update-task-manage{
  padding: 1%;

    
    background-color: rgb(243, 243, 237);
    color: black;   
    position: relative;
   
}
.btn_submit_manage_create_task{
    padding: 4%;
    
    width: 17vw;
}
.del-btn{
    margin-top: 5%;
    height: 45%;

}
