 {% include 'dashboard/base.html' %}
 {% block content %}
 <div class="task_detail_outer_div">
    
        {% for tasks in task %}
        <div class="task_detail_left_panel">
            <div class ="title_task_view">{{tasks.name}}</div>
              <div class="flex_container_task_view">Due date:    {{tasks.due_date}} </div>
              <a href="{% url 'dashboard:task_submit' tasks.id %}">
                <button type="button" class="task_detail_completed_btn2">Mark as completed</button>
                </a>
              <div class="title_data">Team</div>
              <div class="task_detail_team_container"> 
                {% for user in tasks.users.all %}
                <div class="task_completed">{{user.user.username}}</div>
                {% endfor %}
             </div>

        </div>

    {% endfor %}
    <div class="general_medium_container">
    
    {% for tasks in task %}
      <p class="general_text"> {{ tasks.description}} </p>
      
    </div>

</div>




 <div class="send_msg_back">
   <a href="{% url 'dashboard:tasks_list' %}"><button class="del_btn2" type="button">Back</button></a>

 </div>





 {% endfor %}

{% endblock %}