 {% include 'dashboard/base.html' %}

 {% block content %}
<div class="visual_frame_update_submit"></div>
  <form method="post" class="message_update_submit" enctype="multipart/form-data">
      {% csrf_token %}
  
 <div class="task_submit_form"> 
  <div>{{form.completion_note.label_tag}}   </div>
  {{ form.completion_note }}

  <div class="task_submit_inputs_container">
 <div class="task_submit_picture_input"> {{form.picture}}
 {% if form.errors %}
 <div>{{form.picture.errors }}  </div>
  {% endif %}


 </div>

  <input type="submit" name="send" value="send" class="task_submit_button"></div>
   
 </form>
 
 </div>
  <div class="send_msg_back">
   <a href="{% url 'dashboard:task_detail' task.id %}"><button class="del_btn2" type="button">Back</button></a>

 </div>
  {% endblock %}