 {% include 'dashboard/base.html' %}
{% load user_data static %}
 {% block content %}
 
 
 <div class="top_visual_frame_task_list"></div>
<div class="flex_container_tasks">  


 <div class='task_block_container1'> 
<div class="task_title1"><p>Incomplete</p></div>
 {% for task in tasks %}
 {% if not task.denied %}
{% if task.due_date > time %}
 {% if not task.completed %}
 {% if not task.urgent %}
 {% with task|getUserCount as count %}

 <div class="task_blocks1">
   <a href="{% url 'dashboard:task_detail' task.id %}" class="title_cont">
    
          <div class="task_title">{{task.name}} 
          </div>
          <div class="due_date_cont"> 
          <div class="task_due_date">Due date : {{task.due_date}}  </div>
      
    </div> 
    
    </a>
      <div class="task_people">
          <div class="people_img_div">
             {{count}}
             
              <img src="{% static 'team_icon14.png' %}" class="people_img" id="people{{task.id}}"
            data-member="{{task|get_team}}">
                 </div>
         
             
               <div class="chart_icon_div {% if not task.section %} chart_icon_div_inv {% endif %}"> 
            
            <img src="{% static 'chart_icon4.png' %}" id="chart_img{{task.id}}" class="chart_img"
                  onclick="info('{{task.chart.id}}')"
                  data-title="{{task.chart.title}}">
            </div>
               
          
                

               <a href="{% url 'dashboard:activate_task' task.id %}"> 
                <div class="active_task_div
                {% if task.id == active %} activated_task_div {% endif %}" 
                id="active_div{{task.id}}">
               
               </div>
               </a>
           
               
        
           
         </div>
 </div>

{% endwith %}
{% else %}
 {% with task|getUserCount as count %}
<a href="{% url 'dashboard:task_detail' task.id %}">
 <div class="task_blocks_urgent">
       <a href="{% url 'dashboard:task_detail' task.id %}" class="title_cont">
    
          <div class="task_title">{{task.name}} 
          </div>
          <div class="due_date_cont"> 
          <div class="task_due_date">Due date : {{task.due_date}}  </div>
      
    </div> 
    
    </a>
      <div class="task_people">
          <div class="people_img_div">
             {{count}}
             
              <img src="{% static 'team_icon14.png' %}" class="people_img" id="people{{task.id}}"
            data-member="{{task|get_team}}">
                 </div>
         
             
               <div class="chart_icon_div {% if not task.section %} chart_icon_div_inv {% endif %}"> 
            
            <img src="{% static 'chart_icon4.png' %}" id="chart_img{{task.id}}" class="chart_img"
                  onclick="info('{{task.chart.id}}')"
                  data-title="{{task.chart.title}}">
            </div>
               
          
                

               <a href="{% url 'dashboard:activate_task' task.id %}"> 
                <div class="active_task_div
                {% if task.id == active %} activated_task_div {% endif %}" 
                id="active_div{{task.id}}">
               
               </div>
               </a>

         </div>
 </div>

{% endwith %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
 </div>



<div class="task_block_container3">
<div class="task_title3"><p>Past due</p></div>
 {% for task in tasks %}
 {% if not task.denied %}
 {% if task.due_date < time %}
 {% if not task.completed %}
 {% with task|getUserCount as count %}
 <a href="{% url 'dashboard:task_detail' task.id %}">
 <div class="task_blocks3">
        <a href="{% url 'dashboard:task_detail' task.id %}" class="title_cont">
    
          <div class="task_title">{{task.name}} 
          </div>
          <div class="due_date_cont"> 
          <div class="task_due_date">Due date : {{task.due_date}}  </div>
      
    </div> 
    
    </a>
      <div class="task_people">
          <div class="people_img_div">
             {{count}}
             
              <img src="{% static 'team_icon14.png' %}" class="people_img" id="people{{task.id}}"
            data-member="{{task|get_team}}">
                 </div>
         
             
               <div class="chart_icon_div {% if not task.section %} chart_icon_div_inv {% endif %}"> 
            
            <img src="{% static 'chart_icon4.png' %}" id="chart_img{{task.id}}" class="chart_img"
                  onclick="info('{{task.chart.id}}')"
                  data-title="{{task.chart.title}}">
            </div>
               
          
                

               <a href="{% url 'dashboard:activate_task' task.id %}"> 
                <div class="active_task_div
                {% if task.id == active %} activated_task_div {% endif %}" 
                id="active_div{{task.id}}">
               
               </div>
               </a>
      </div>
  
 </div>
 
 {% endwith %}
 {% endif %}
 {% endif %}
 {% endif %}
{% endfor %}
</div>




 <div class="task_block_container2">
 <div class="task_title2_base"><p>Completed</p></div>

{% for task in tasks %}
{% if not task.approved_by %}
 {% if task.completed %}
 {% if not task.denied %}
  {% with task|getUserCount as count %}
 <div class="task_blocks2_employee">
             <a href="{% url 'dashboard:task_detail' task.id %}" class="title_cont">
    
          <div class="task_title">{{task.name}} 
          </div>
          <div class="due_date_cont"> 
          <div class="task_due_date">Due date : {{task.due_date}}  </div>
      
    </div> 
    
    </a>
      <div class="task_people">
          <div class="people_img_div">
             {{count}}
             
              <img src="{% static 'team_icon14.png' %}" class="people_img" id="people{{task.id}}"
            data-member="{{task|get_team}}">
                 </div>
         
             
               <div class="chart_icon_div {% if not task.section %} chart_icon_div_inv {% endif %}"> 
            
            <img src="{% static 'chart_icon4.png' %}" id="chart_img{{task.id}}" class="chart_img"
                  onclick="info('{{task.chart.id}}')"
                  data-title="{{task.chart.title}}">
            </div>
               
          
                

               <a href="{% url 'dashboard:activate_task' task.id %}"> 
                <div class="active_task_div
                {% if task.id == active %} activated_task_div {% endif %}" 
                id="active_div{{task.id}}">
               
               </div>
               </a>
      </div>


 </div>
{% endwith %}
{% endif %}
{% endif %}

{% if not task.completed %}
{% if task.denied %}
  {% with task|getUserCount as count %}
<a href="{% url 'dashboard:task_detail' task.id %}">
 <div class="task_blocks2_denied">
     <a href="{% url 'dashboard:task_detail' task.id %}" class="title_cont">
    
          <div class="task_title">{{task.name}} 
          </div>
          <div class="due_date_cont"> 
          <p class="task_due_date">Due date : {{task.due_date}}  </p>
           <p class="denied_text">Denied: {{task.deny_reason}}</p>
      
    </div> 
    
    </a>
      <div class="task_people">
          <div class="people_img_div">
             {{count}}
             
              <img src="{% static 'team_icon14.png' %}" class="people_img" id="people{{task.id}}"
            data-member="{{task|get_team}}">
                 </div>
         
             
               <div class="chart_icon_div {% if not task.section %} chart_icon_div_inv {% endif %}"> 
            
            <img src="{% static 'chart_icon4.png' %}" id="chart_img{{task.id}}" class="chart_img"
                  onclick="info('{{task.chart.id}}')"
                  data-title="{{task.chart.title}}">
            </div>
               
          
                

               <a href="{% url 'dashboard:activate_task' task.id %}"> 
                <div class="active_task_div
                {% if task.id == active %} activated_task_div {% endif %}" 
                id="active_div{{task.id}}">
               
               </div>
               </a>
      </div>


 </div>

{% endwith %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}


 </div>
</div>

 <div class="bot_visual_frame_task_list"></div>
 <a href="{% url 'dashboard:projects' %}">
 <div class="right_legend">
  >
 </div>
  </a>
            <div id="info_modal_team">
         <div class="team_list_title">
             Team

         </div>
         <div id="text_team"></div>
          
       </div>
         

          <div id="info_modal_task_list_chart">
         
         <p id="text_value_chart">
            

         </p>
         </div>

      <div id="info_modal_task_list">
         
         <p id="text_value">
            

         </p>
         </div>

<script>


document.addEventListener('DOMContentLoaded', () => {
    setInfoBubble('chart_img', 'info_modal_task_list_chart');
    setInfoBubble('active_div', 'info_modal_task_list', 'Activate');
    setTeamBubble();
});


</script>



 {% endblock %}

