  {% for week in weeks %}
          
            {% with week_index=forloop.counter %}
           
            <div class="{{col_class}}">
                 
                   <div class="chart_col_right_top_row {% if week_int > 36 %} 
                    invisible_top_numbers {% endif %}" id="source_number"> 
                   {{forloop.counter}} 
                   </div>
                    
                    {% for section in sections %}
                   <div class="chart_section_right"> 
             
                           {% for task in chart.task_set.all %}
                         
                           {% if task.section == section %}
                           {% if user.userprofile.role.name == 'dev' %}
                           <div class="chart_right_task_row  {% if week_index < grey %} chart_right_task_row_grey {% elif week_index in grey_col_list %} chart_right_task_row_grey_alt {% endif %}"
                            id="right_rows{{task.id}}{{week_index}}" value="{{task.week}}"
                            onclick="Filltask('{{task.id}}', '{{week_index}}')">
                           </div>
                           {% else %}
                             <div class="chart_right_task_row_basic  {% if week_index < grey %} chart_right_task_row_grey {% elif week_index in grey_col_list %} chart_right_task_row_grey_alt {% endif %}"
                            id="right_rows{{task.id}}{{week_index}}" value="{{task.week}}"
                            onclick="Filltask('{{task.id}}', '{{week_index}}')">
                           </div>
                           {% endif %}
                            {% endif %}
                           {% endfor %}  
                             <div class="chart_right_task_row_grey"> </div>
                   </div>
                    {% endfor %}
                    
            
            {% endwith %}
            </div>
            {% endfor %}
