 {% include 'dashboard/base.html' %}

 {% block content %}



<!--['name', 'description', 'urgent', 'due_date', 'users', 'completed']-->
          <form method="post" class="task_form">

<div class="form_container_chart_update">
      {% csrf_token %}
 
       <div class="title_chart_create_flex"> 
              <div class="forms"> {{ form.title.label_tag }}</div>
              <div>{{form.title}}</div>
       </div>

        <div class="flex_container_chart_create_top">
              <div>{{form.start_date.label_tag}}</div>
              <div >{{form.start_date}}</div>

        </div>
      

        <div class="flex_container_chart_create_top2">
    
              <div> {{form.end_date.label_tag}}</div>
              <div> {{form.end_date}}</div>
              
        </div>

        <div class="chart_create_select_div_mod">
                        {{form.teams.label_tag}}
                        {{form.teams}}
       </div>



      <div class="bot_flex_container_chart_create">

  

                  <div class="add_section_div_chart"> 
                         <div> Sections:</div>
                         <a href="{% url 'dashboard:add_section' chart.id %}">
                  
                         <input class="plus_sign_button_chart_create" value="+ Add sections"></input></a>
                 </div>
                
                   

      </div>
              
               
                
        <div class="sections_chart_update">

             {% for section in sections %}
            <a href="{% url 'dashboard:sections_update' section.id %}"> 
                  <div class="section_red_link">{{section}}</div>
             </a>  
            {% endfor %}
        </div>


         <div>


         <input type="submit" name="send" value="Submit" 
                          class="btn-submit-chart_update">


         </div>
              
                  
  </form>  

</div>
 

                <a href="{% url 'dashboard:chart_delete' chart.id %}">
                    <button class="chart_update_delete_btn">Delete chart</button> </a>
        
 <div class="send_msg_back">
   <button onclick="history.back()" class="del_btn2" type="button">Back</button></a>

 </div>
 

 {% if form.errors %}
           
                          <div style="height: 10%;">{{form.end_date.errors}}</div>
                   
            
                           {% endif %}

  {% endblock %}