 {% include 'dashboard/base.html' %}

 {% block content %}
 <div> 
<form method="post" class="task_form_chart">

<div class="form_container_create_task_chart">
      {% csrf_token %}

<div class="create_task_chart_name_div"> 
   <div class="create_task_chart_name_label"> {{ form.name.label_tag }}</div>
   <div class="form_margin" placeholder="text">{{form.name}}</div>
</div>

<div>  
  <div class="form_margin"> {{form.description.label_tag}}</div>
      <div class="task_create_chart_text_select"> 
    <div class="description_task_form_chart"> {{form.description}} </div>
      <div class="task_form_chart_select"> {{form.users}}</div>
      </div>
</div>


<div class="flex_form_container_chart_task">
 
   {{form.starting_date.label_tag}}
   {{form.starting_date}}

 <div>{{form.section.label_tag}}</div>
    <div>{{form.section}}</div>


   
         <div>

  
     </div>
    

</div>
<div class="due_date_chart_create">{{form.due_date.label_tag}}{{form.due_date}}</div> 
    

        <input type="submit" name="send" value="Submit" class="btn_submit_chart_task">

 </form>
</div>
  <div class="send_msg_back">
   <button onclick="history.back()" class="del_btn2" type="button">Back</button></a>

 </div>
  {% endblock %}