 {% include 'dashboard/base.html' %}

 {% block content %}



<!--['name', 'description', 'urgent', 'due_date', 'users', 'completed']-->
          <form method="post" class="task_form">

<div class="form_container_chart_create">
      {% csrf_token %}
 
       <div class="title_chart_create_flex"> 
              <div class="forms"> {{ form.title.label_tag }}</div>
              <div>{{form.title}}</div>
       </div>

        <div class="flex_container_chart_create_top">
              <div>{{form.start_date.label_tag}}</div>
              <div >{{form.start_date}}</div>

        </div>


        <div class="flex_container_chart_create_top2">
    
              <div> {{form.end_date.label_tag}}</div>
              <div> {{form.end_date}}</div>
        </div>

        <div class="chart_create_select_div">
                        {{form.teams.label_tag}}
                        {{form.teams}}
                           {% if form.errors %}
           
                      <div style="height: 10%;">{{form.end_date.errors}}</div>
                   
            
                     {% endif %}
       </div>

       
 
   

               
                
                   





        <div class="chart_create_select_div">

         
        </div>


         <div>


         <input type="submit" name="send" value="Submit" 
                          class="btn-submit-task-manage">


         </div>
              
                  
  </form>  

</div>
 

 <div class="send_msg_back">
   <button onclick="history.back()" class="del_btn2" type="button">Back</button></a>

 </div>
 
  


  {% endblock %}