 {% include 'dashboard/base.html' %}
{% load user_data %}
{% block extra_css %}
<style>
  body{
    overflow: hidden;
  }
</style>
{% endblock %}
 {% block content %}


<div class="create_chart_div">
     <div class="charts_title">
            <div class="outer_chart_title">
                 <div class="charts_title_text">
                  Charts 
                </div>
           </div>
    </div> 



     <div class="chart_create_new_chart"> 
    
             <div class="chart_create_chart_title">New chart
                {% if user.userprofile.role.name in allowed_roles %}
                   <a href="{% url 'dashboard:chart_create' %}"><button class="plus_sign_button">
                    +</button> </a>
                    {% if chart.id %}
                    <div class="save_modify_chart_btn_div">  
                       <button onclick="toggleGrid()" class="grid_btn"> Grid</button>
                         <button onclick="SaveChart('{{chart.id}}')" class="chart_save_btn">
                          Save</button> 
                         <a href="{% url 'dashboard:chart_update' chart.id %}">
                         <button class="chart_modify_button">Modify</button></a>
                             
                       
                               <a href="{% url 'dashboard:reset_chart' chart.id %}">
                               <button class="chart_clear_btn">Clear</button></a>
                         
                    </div>
                        
                    {% endif %}
                   {% endif %}
             </div>
             <div class="chart_create_buttons">
                    {% if not charts %}
                    <div style="
                    padding-left: 0.4%; 
                    padding-top: 0.4%;
                    font-size: small; 
                    display: flex;
                    align-items: baseline;"> 
                    No charts yet 
                  </div>
                    {% endif %}

                    {% for chart in charts %}     
                    
                    {% if forloop.counter < 5 %}
                    <a href="{% url 'dashboard:chart_detail' chart.id %}">
                     <button id="chart_btn_title{{chart.id}}" class="btn_title_chart" onclick="toggleButtons(this)"> 
                      {{chart.title}}</button></a>
                    {% if forloop.counter > 3 %}
                   
                    <div> 
                          <div> 
                         <button onclick="ShowDropdown()">...</button>
                         </div>
                         <div id="dropdown_charts"> 
                       
                                        
                     {% endif %}
                 
                    {% endif %}
                    {% endfor %}
                    {% for chart in charts %}
                    {% if forloop.counter > 4 %}
                       <a class="dropdown_links_charts" href="{% url 'dashboard:chart_detail' chart.id %}">
                            <button class="chart_dropdown_btn" 
                            id="chart_btn_title{{chart.id}}">{{chart.title}}</button></a>
                      {% endif %}
                      
                    {% endfor %}
                    </div>
                   </div>
             </div>
     </div>
</div>
    
 <div class="charts_container" id="charts_container">

     <div class="left_left_pane">

         
           

     </div>


     <div class="chart_left_pane"> 
            <div class="chart_left_title">
             Tasks
            </div>
            {% for section in sections %}
           
      <div class="name_section_wrapper_chart">
        <div class="chart_section_left_description_text">{{section.name}}  </div>
         <div class="chart_section_left" id="section_left">
                   {% for task in tasks_by_section|get_item:section.id %}
            
                      
                   <div class="chart_left_task_row
                   {% if task.submitted_at > task.due_date %} chart_left_task_row_late 
                   {% endif %}
                   " id="left_row{{task.id}}">

                    <a href="{% url 'dashboard:chart_task_update' chart.id task.id %}" 
                    class="task_name_div" id="task_name_div{{task.id}}">
                      
                     {{task.name}} 
                  
                      </a>

               <div class="arrows_div">
                    <a href="{% url 'dashboard:swapTask' task.id section.id chart.id 'true' 'false' %}">
                         <div id="up_arrow">
                           ▲
                         </div>
                    </a>

                    <a href="{% url 'dashboard:swapTask' task.id section.id chart.id 'false' 'true' %}">
                         <div id="down_arrow">▼
                         </div>
                    </a>


              </div>
                  
       </div>
                    
                
                    {% endfor %}

                   <a href="{% url 'dashboard:create_task_chart' chart.id %}">
                             
                      <div class="left_pane_add_task"> Add a task +

                      </div> </a>
                   

            </div></div>
                   {% endfor %}



                    {% if chart %}
                       {% if not sections %}
                       <a href="{% url 'dashboard:add_section' chart.id %}">
                             
                      <div class="left_pane_add_task_section"> Add a section +

                      </div> </a>
                      {% endif %}
                    {% if sections %}
                    {% if not chart.task_set %}
                    <a href="{% url 'dashboard:create_task_chart' chart.id %}">
                                      
                                <div class="left_pane_add_task"> Add a task +

                                </div> </a>
                    {% endif %}     
                    {% endif %}
                      {% endif %}
                  
     </div>
       
     <div class="chart_right_pane">
          <div class="chart_dates"> 
             {% if not months_list %}
             {% for month in chart.months %}
             
             <div class="one_date_container" id="months_cont"> 
      
            {{month}} 
             </div>
             {% endfor %}
             {% else %}
              {% for month in months_list %}
               <div class="one_date_container" id="months_cont"> 
      
            {{month}} 
             </div>
             {% endfor %}
              {% endif %}
          </div>

        <div class="right_chart_wrapper">
            <div class="right_row_description">
               
                   <div class="right_row_description_top_row"> 
                     Week
                   </div>

                    {% for section in sections %}
                   <div class="chart_section_right" id="source{{forloop.counter}}">
                           {% for task in tasks_by_section|get_item:section.id %}
                       
                           <div class="chart_right_task_row_grey">
                           </div>
                         
                           {% endfor %}  
                             <div class="chart_right_task_row_grey"></div>
                   </div>
                    {% endfor %}
            </div>
            
      
                {% with col_class="chart_col_right" %}
                  {% include "dashboard/projects/chart_body.html" %}
                {% endwith %}

         




     </div>
   </div>
 </div>

<script>
const chartStartDate = new Date('{{ chart.start_date|date:"Y-m-d" }}');
const now = new Date();

// Calculate difference in weeks
const diffInMs = now - chartStartDate;
const diffInWeeks = Math.floor(diffInMs / (1000 * 60 * 60 * 24 * 7));

const pxPerWeek = 26; // e.g., each week column is 50px wide
const offsetPx = diffInWeeks * pxPerWeek;

const container = document.getElementById('charts_container');
container.scrollLeft = offsetPx + 50;





const source = document.getElementById('source_number')
const targetDivs = document.querySelectorAll('.one_date_container');
const sourceWidth = window.getComputedStyle(source).width; 

const numericWidth = parseFloat(sourceWidth); // convert "100px" to 100

targetDivs.forEach(div => {
  div.style.width = `${(numericWidth + 3.6 ) * 4}px`;
});


// Filling the chart
let chart_data = {};

function toggleGrid(){
  const rows = document.querySelectorAll('.chart_right_task_row')

  rows.forEach(row => {
    const currentBorder = window.getComputedStyle(row).getPropertyValue('border-right');
    const currentBorderL = window.getComputedStyle(row).getPropertyValue('border-left');
    if (currentBorder.includes('rgba(0,0,0,0)') || currentBorder.includes('rgba(0, 0, 0, 0)')){
      row.style.borderRight = '2px solid rgb(63, 63, 63)';
      row.style.borderLeft = '2px solid rgb(63, 63, 63)';
    }
    else {
       row.style.borderRight = 'none';
       row.style.borderLeft = 'none';
    }
    
   
  });


}
function Filltask(n, cn) {
  
    const div = document.getElementById('right_rows'+ n + cn)

    let weeks = parseInt(div.getAttribute("value"));
    const currentColor = window.getComputedStyle(div).backgroundColor;

    if (weeks > 0 && currentColor !== 'rgb(173, 216, 230)') {
        div.style.backgroundColor = 'lightblue';
        weeks--;
        setRemainingClicks(n, weeks);

        if (!chart_data[n]) {
            chart_data[n] = []; 
    }

        chart_data[n].push(Number(cn))
       // console.log("Remaining clicks:", weeks);
      //  console.log(chart_data)
      }
      
      else if (weeks >= 0 && currentColor === 'rgb(173, 216, 230)'){
      div.style.backgroundColor = 'transparent';
      weeks ++;
      setRemainingClicks(n, weeks);
       chart_data[n] = chart_data[n].filter(item => item !== Number(cn));
       console.log("Type of cn:", typeof cn, "Value:", cn);

    }
      
      
      
      else {
        console.log("No more clicks allowed for this task.");
      }
    }


function setRemainingClicks(taskId, newValue) {
    const divs = document.querySelectorAll(`[id^="right_rows${taskId}"]`);

    divs.forEach(div => {
      div.setAttribute("value", newValue);
      //console.log(`Updated div: ${div.id}, Remaining clicks: ${newValue}`);
    });
  }


function SaveChart(n) {
    fetch(`http://127.0.0.1:8000/dashboard/projects/chart/${n}`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': getCookie('csrftoken')  // If CSRF protection is enabled
    },
    body: JSON.stringify({ data: chart_data })
  });
}

function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    const cookies = document.cookie.split(';');
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      // Check if this cookie string begins with the name we want
      if (cookie.startsWith(name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

const id = '{{chart.id}}'
const active_btn_id = "chart_btn_title"+ id
const active_button = document.getElementById(active_btn_id)
active_button.classList.toggle('active')

document.addEventListener('DOMContentLoaded', LoadChart());

async function LoadChart() {
  let chart_number = "{{ chart.id }}";

  try {
    const response = await fetch(`http://127.0.0.1:8000/dashboard/projects/chart/load/${chart_number}`);
    
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }

    const data_string = await response.json();
    const data = JSON.parse(data_string)
    //{"15": [4, 5, 6, 7], "26": [4, 5, 6, 3, 2]}

    for (const [key, value] of Object.entries(data)) {
       value.forEach(cn =>{ 
        Filltask(key, cn);
    });
    
 
}

  } catch (error) {
    console.error('Error fetching chart data:', error);
  }
  
     }
    

  function ShowDropdown(){
    const element = document.getElementById('dropdown_charts');
    if (element.style.display == 'none'){
      element.style.display = 'flex'
    }

    else{
           element.style.display = 'none';
    }
   

  }
 

document.querySelectorAll('[id^="left_row"]').forEach(row => {
  const arrowsDiv = row.querySelector('.arrows_div');

  row.addEventListener('mouseover', () => {
    if (arrowsDiv) arrowsDiv.style.display = 'block';
  });

  row.addEventListener('mouseout', () => {
    if (arrowsDiv) arrowsDiv.style.display = 'none';
  });
});
</script>
  {% endblock %}